*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
}

.english {
  font-family: "Noto Sans Display", sans-serif;
  text-align: start;
}

.headline {
  font-size: 6rem;
  font-weight: 900;
  line-height: 6.25rem;
  letter-spacing: -0.0625rem;
  word-spacing: 0.25rem;
  color: #343d3c;
}

.lead {
  font-size: 4.75rem;
  font-weight: 300;
  line-height: 5.75rem;
  letter-spacing: -0.04688rem;
  word-spacing: 0.03125rem;
  color: #637473;
}

h1 {
  font-size: 3.75rem;
  font-weight: 900;
  line-height: 4.5rem;
  letter-spacing: -0.03125rem;
  word-spacing: 0.01562rem;
  color: #343d3c;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: -0.01562rem;
  word-spacing: 0.03125rem;
  color: #637473;
}

h3 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 3.25rem;
  letter-spacing: -0.01562rem;
  word-spacing: 0.03125rem;
  color: #343d3c;
}

h4 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: -0.01562rem;
  word-spacing: 0.04688rem;
  color: #637473;
}

h5 {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2rem;
  letter-spacing: -0.01562rem;
  word-spacing: 0.01562rem;
  color: #343d3c;
}

h6 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.01562rem;
  word-spacing: 0.0625rem;
  color: #637473;
}

.title,
ul,
ol {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0.01562rem;
  word-spacing: 0.01562rem;
  color: #343d3c;
}

p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: 0.0625rem;
  word-spacing: 0.125rem;
  color: #637473;
}

small,
li {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.0625rem;
  word-spacing: 0.25rem;
  color: #637473;
}

.persian {
  font-family: "Noto Sans Arabic", sans-serif;
  direction: rtl;
  text-align: start;
}

.persian-headline {
  font-size: 6rem;
  font-weight: 900;
  line-height: 7.5rem;
  letter-spacing: 0;
  word-spacing: 0.25rem;
  color: #343d3c;
  font-family: "Noto Sans Arabic", sans-serif;
  direction: rtl;
  text-align: start;
}

.persian-lead {
  font-size: 4.75rem;
  font-weight: 300;
  line-height: 6.25rem;
  letter-spacing: 0;
  word-spacing: 0;
  color: #637473;
  font-family: "Noto Sans Arabic", sans-serif;
  direction: rtl;
  text-align: start;
}

.persian-h1 {
  font-size: 3.75rem;
  font-weight: 900;
  line-height: 5.5rem;
  letter-spacing: 0;
  word-spacing: 0.0625rem;
  color: #343d3c;
  font-family: "Noto Sans Arabic", sans-serif;
  direction: rtl;
  text-align: start;
}

.persian-h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: 0;
  word-spacing: 0.0625rem;
  color: #637473;
  font-family: "Noto Sans Arabic", sans-serif;
  direction: rtl;
  text-align: start;
}

.persian-h3 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 3.5rem;
  letter-spacing: 0;
  word-spacing: 0.0625rem;
  color: #343d3c;
  font-family: "Noto Sans Arabic", sans-serif;
  direction: rtl;
  text-align: start;
}

.persian-h4 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0;
  word-spacing: 0.0625rem;
  color: #637473;
  font-family: "Noto Sans Arabic", sans-serif;
  direction: rtl;
  text-align: start;
}

.persian-h5 {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2.25rem;
  letter-spacing: 0;
  word-spacing: 0.0625rem;
  color: #343d3c;
  font-family: "Noto Sans Arabic", sans-serif;
  direction: rtl;
  text-align: start;
}

.persian-h6 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2.25rem;
  letter-spacing: 0;
  word-spacing: 0.0625rem;
  color: #637473;
  font-family: "Noto Sans Arabic", sans-serif;
  direction: rtl;
  text-align: start;
}

.persian-title, .persian-ul, .persian-ol {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0;
  word-spacing: 0.125rem;
  color: #343d3c;
  font-family: "Noto Sans Arabic", sans-serif;
  direction: rtl;
  text-align: start;
}

.persian-p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2.25rem;
  letter-spacing: 0;
  word-spacing: 0.25rem;
  color: #637473;
  font-family: "Noto Sans Arabic", sans-serif;
  direction: rtl;
  text-align: start;
}

.persian-small, .persian-li {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0;
  word-spacing: 0.25rem;
  color: #637473;
  font-family: "Noto Sans Arabic", sans-serif;
  direction: rtl;
  text-align: start;
}

a,
button,
input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-style: normal;
  -webkit-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
  border: none;
  outline: none;
  font-weight: 600;
  line-height: 1.5rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

.link-text {
  display: inline-block;
}

.link-primary svg, .link-secondary svg, .link-ghost svg, .link-outline svg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 180ms ease-out;
  transition: -webkit-transform 180ms ease-out;
  transition: transform 180ms ease-out;
  transition: transform 180ms ease-out, -webkit-transform 180ms ease-out;
}

.link-primary:hover svg, .link-secondary:hover svg, .link-ghost:hover svg, .link-outline:hover svg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.link-primary-dark svg, .link-secondary-dark svg, .link-ghost-dark svg, .link-outline-dark svg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 180ms ease-out;
  transition: -webkit-transform 180ms ease-out;
  transition: transform 180ms ease-out;
  transition: transform 180ms ease-out, -webkit-transform 180ms ease-out;
}

.link-primary-dark:hover svg, .link-secondary-dark:hover svg, .link-ghost-dark:hover svg, .link-outline-dark:hover svg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.link-large-primary svg path {
  fill: white;
}

.link-large-primary:link, .link-large-primary:visited {
  font-size: 1.25rem;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  border-radius: 2rem;
  color: white;
  background-color: #007a76;
}

.link-large-primary:hover {
  font-size: 1.25rem;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  border-radius: 2rem;
  color: #ededed;
  background-color: #006663;
}

.link-large-primary:hover svg path {
  fill: #ededed;
}

.link-large-primary:active {
  font-size: 1.25rem;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  border-radius: 2rem;
  color: white;
  background-color: #007a76;
  -webkit-box-shadow: 0 0 0 0.5rem #e7efee;
          box-shadow: 0 0 0 0.5rem #e7efee;
}

.link-large-primary-dark svg path {
  fill: white;
}

.link-large-primary-dark:link, .link-large-primary-dark:visited {
  font-size: 1.25rem;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  border-radius: 2rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.25);
}

.link-large-primary-dark:hover {
  font-size: 1.25rem;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  border-radius: 2rem;
  color: #f7f7f7;
  background-color: rgba(255, 255, 255, 0.15);
}

.link-large-primary-dark:hover svg path {
  fill: #f7f7f7;
}

.link-large-primary-dark:active {
  font-size: 1.25rem;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  border-radius: 2rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 0 0 0.5rem rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 0 0.5rem rgba(255, 255, 255, 0.2);
}

.link-secondary svg path {
  fill: #007a76;
}

.link-secondary:link, .link-secondary:visited {
  color: #007a76;
  background-color: #f6f9f9;
}

.link-secondary:hover {
  color: #006663;
  background-color: #eaf1f0;
}

.link-secondary:hover svg path {
  fill: #006663;
}

.link-secondary:active {
  color: #007a76;
  background-color: #f6f9f9;
  -webkit-box-shadow: 0 0 0 0.5rem #e7efee;
          box-shadow: 0 0 0 0.5rem #e7efee;
}

.link-secondary-dark svg path {
  fill: #4dfff9;
}

.link-secondary-dark:link, .link-secondary-dark:visited {
  color: #4dfff9;
  background-color: rgba(255, 255, 255, 0.05);
}

.link-secondary-dark:hover {
  color: #00e6de;
  background-color: rgba(255, 255, 255, 0.15);
}

.link-secondary-dark:hover svg path {
  fill: #00e6de;
}

.link-secondary-dark:active {
  color: #4dfff9;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: 0 0 0 0.5rem rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 0 0.5rem rgba(255, 255, 255, 0.2);
}

.link-ghost svg path {
  fill: #007a76;
}

.link-ghost:link, .link-ghost:visited {
  color: #007a76;
  background-color: rgba(255, 255, 255, 0);
}

.link-ghost:hover {
  color: #006663;
  background-color: #f6f9f9;
}

.link-ghost:hover svg path {
  fill: #006663;
}

.link-ghost:active {
  color: #007a76;
  background-color: rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0 0 0 0.5rem #e7efee;
          box-shadow: 0 0 0 0.5rem #e7efee;
}

.link-ghost-dark svg path {
  fill: #4dfff9;
}

.link-ghost-dark:link, .link-ghost-dark:visited {
  color: #4dfff9;
  background-color: rgba(255, 255, 255, 0);
}

.link-ghost-dark:hover {
  color: #00e6de;
  background-color: rgba(255, 255, 255, 0.05);
}

.link-ghost-dark:hover svg path {
  fill: #00e6de;
}

.link-ghost-dark:active {
  color: #4dfff9;
  background-color: rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0 0 0 0.5rem rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 0 0.5rem rgba(255, 255, 255, 0.2);
}

.link-outline svg path {
  fill: #007a76;
}

.link-outline:link, .link-outline:visited {
  color: #007a76;
  background-color: rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0 0 0 0.125rem #007a76;
          box-shadow: 0 0 0 0.125rem #007a76;
}

.link-outline:hover {
  color: #006663;
  background-color: #eaf1f0;
  -webkit-box-shadow: 0 0 0 0.125rem #006663;
          box-shadow: 0 0 0 0.125rem #006663;
}

.link-outline:hover svg path {
  fill: #006663;
}

.link-outline:active {
  color: #007a76;
  background-color: rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0 0 0 0.5rem #e7efee;
          box-shadow: 0 0 0 0.5rem #e7efee;
}

.link-outline-dark svg path {
  fill: #4dfff9;
}

.link-outline-dark:link, .link-outline-dark:visited {
  color: #4dfff9;
  background-color: rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0 0 0 0.125rem #4dfff9;
          box-shadow: 0 0 0 0.125rem #4dfff9;
}

.link-outline-dark:hover {
  color: #00e6de;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: 0 0 0 0.125rem #00e6de;
          box-shadow: 0 0 0 0.125rem #00e6de;
}

.link-outline-dark:hover svg path {
  fill: #00e6de;
}

.link-outline-dark:active {
  color: #4dfff9;
  background-color: rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0 0 0 0.5rem rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 0 0.5rem rgba(255, 255, 255, 0.2);
}

.button-text {
  display: inline-block;
}

.button-primary svg, .button-secondary svg, .button-ghost svg, .button-outline svg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 180ms ease-out;
  transition: -webkit-transform 180ms ease-out;
  transition: transform 180ms ease-out;
  transition: transform 180ms ease-out, -webkit-transform 180ms ease-out;
}

.button-primary:hover svg, .button-secondary:hover svg, .button-ghost:hover svg, .button-outline:hover svg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.button-primary-dark svg, .button-secondary-dark svg, .button-ghost-dark svg, .button-outline-dark svg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 180ms ease-out;
  transition: -webkit-transform 180ms ease-out;
  transition: transform 180ms ease-out;
  transition: transform 180ms ease-out, -webkit-transform 180ms ease-out;
}

.button-primary-dark:hover svg, .button-secondary-dark:hover svg, .button-ghost-dark:hover svg, .button-outline-dark:hover svg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.button-primary {
  color: white;
  background-color: #007a76;
}

.button-primary svg path {
  fill: white;
}

.button-primary:hover {
  color: #ededed;
  background-color: #006663;
}

.button-primary:hover svg path {
  fill: #ededed;
}

.button-primary-dark {
  color: white;
  background-color: rgba(255, 255, 255, 0.25);
}

.button-primary-dark svg path {
  fill: white;
}

.button-primary-dark:hover {
  color: #f7f7f7;
  background-color: rgba(255, 255, 255, 0.15);
}

.button-primary-dark:hover svg path {
  fill: #f7f7f7;
}

.button-secondary {
  color: #007a76;
  background-color: #f6f9f9;
}

.button-secondary svg path {
  fill: #007a76;
}

.button-secondary:hover {
  color: #006663;
  background-color: #eaf1f0;
}

.button-secondary:hover svg path {
  fill: #006663;
}

.button-secondary-dark {
  color: #4dfff9;
  background-color: rgba(255, 255, 255, 0.05);
}

.button-secondary-dark svg path {
  fill: #4dfff9;
}

.button-secondary-dark:hover {
  color: #00e6de;
  background-color: rgba(255, 255, 255, 0.15);
}

.button-secondary-dark:hover svg path {
  fill: #00e6de;
}

.button-ghost {
  color: #007a76;
  background-color: rgba(255, 255, 255, 0);
}

.button-ghost svg path {
  fill: #007a76;
}

.button-ghost:hover {
  color: #006663;
  background-color: #f6f9f9;
}

.button-ghost:hover svg path {
  fill: #006663;
}

.button-ghost-dark {
  color: #4dfff9;
  background-color: rgba(255, 255, 255, 0);
}

.button-ghost-dark svg path {
  fill: #4dfff9;
}

.button-ghost-dark:hover {
  color: #00e6de;
  background-color: rgba(255, 255, 255, 0.05);
}

.button-ghost-dark:hover svg path {
  fill: #00e6de;
}

.button-outline {
  color: #007a76;
  background-color: rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0 0 0 0.125rem #007a76;
          box-shadow: 0 0 0 0.125rem #007a76;
}

.button-outline svg path {
  fill: #007a76;
}

.button-outline:hover {
  color: #006663;
  background-color: #eaf1f0;
  -webkit-box-shadow: 0 0 0 0.125rem #006663;
          box-shadow: 0 0 0 0.125rem #006663;
}

.button-outline:hover svg path {
  fill: #006663;
}

.button-outline-dark {
  color: #4dfff9;
  background-color: rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0 0 0 0.125rem #4dfff9;
          box-shadow: 0 0 0 0.125rem #4dfff9;
}

.button-outline-dark svg path {
  fill: #4dfff9;
}

.button-outline-dark:hover {
  color: #00e6de;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: 0 0 0 0.125rem #00e6de;
          box-shadow: 0 0 0 0.125rem #00e6de;
}

.button-outline-dark:hover svg path {
  fill: #00e6de;
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.input-group-primary svg path {
  fill: white;
}

.input-group-primary svg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 180ms ease-out;
  transition: -webkit-transform 180ms ease-out;
  transition: transform 180ms ease-out;
  transition: transform 180ms ease-out, -webkit-transform 180ms ease-out;
}

.input-group-primary:hover svg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.input-group-primary:hover svg path {
  fill: #ededed;
}

.input-group-primary-dark svg path {
  fill: white;
}

.input-group-primary-dark svg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 180ms ease-out;
  transition: -webkit-transform 180ms ease-out;
  transition: transform 180ms ease-out;
  transition: transform 180ms ease-out, -webkit-transform 180ms ease-out;
}

.input-group-primary-dark:hover svg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.input-group-primary-dark:hover svg path {
  fill: #f7f7f7;
}

.input-group-secondary svg path {
  fill: #007a76;
}

.input-group-secondary svg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 180ms ease-out;
  transition: -webkit-transform 180ms ease-out;
  transition: transform 180ms ease-out;
  transition: transform 180ms ease-out, -webkit-transform 180ms ease-out;
}

.input-group-secondary:hover svg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.input-group-secondary:hover svg path {
  fill: #006663;
}

.input-group-secondary-dark svg path {
  fill: #4dfff9;
}

.input-group-secondary-dark svg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 180ms ease-out;
  transition: -webkit-transform 180ms ease-out;
  transition: transform 180ms ease-out;
  transition: transform 180ms ease-out, -webkit-transform 180ms ease-out;
}

.input-group-secondary-dark:hover svg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.input-group-secondary-dark:hover svg path {
  fill: #00e6de;
}

.input-group-ghost svg path {
  fill: #007a76;
}

.input-group-ghost svg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 180ms ease-out;
  transition: -webkit-transform 180ms ease-out;
  transition: transform 180ms ease-out;
  transition: transform 180ms ease-out, -webkit-transform 180ms ease-out;
}

.input-group-ghost:hover svg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.input-group-ghost:hover svg path {
  fill: #006663;
}

.input-group-ghost-dark svg path {
  fill: #4dfff9;
}

.input-group-ghost-dark svg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 180ms ease-out;
  transition: -webkit-transform 180ms ease-out;
  transition: transform 180ms ease-out;
  transition: transform 180ms ease-out, -webkit-transform 180ms ease-out;
}

.input-group-ghost-dark:hover svg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.input-group-ghost-dark:hover svg path {
  fill: #00e6de;
}

.input-group-outline svg path {
  fill: #007a76;
}

.input-group-outline svg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 180ms ease-out;
  transition: -webkit-transform 180ms ease-out;
  transition: transform 180ms ease-out;
  transition: transform 180ms ease-out, -webkit-transform 180ms ease-out;
}

.input-group-outline:hover svg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.input-group-outline:hover svg path {
  fill: #006663;
}

.input-group-outline-dark svg path {
  fill: #4dfff9;
}

.input-group-outline-dark svg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 180ms ease-out;
  transition: -webkit-transform 180ms ease-out;
  transition: transform 180ms ease-out;
  transition: transform 180ms ease-out, -webkit-transform 180ms ease-out;
}

.input-group-outline-dark:hover svg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.input-group-outline-dark:hover svg path {
  fill: #00e6de;
}

.input-large svg:first-child, .input-large svg:last-child, .input-regular svg:first-child, .input-regular svg:last-child, .input-small svg:first-child, .input-small svg:last-child, .input-mini svg:first-child, .input-mini svg:last-child {
  position: absolute;
}

.input-large svg:first-child {
  left: 2rem;
}

.input-large svg:last-child {
  right: 2rem;
}

.input-regular svg:first-child {
  left: 1.5rem;
}

.input-regular svg:last-child {
  right: 1.5rem;
}

.input-small svg:first-child {
  left: 0.75rem;
}

.input-small svg:last-child {
  right: 0.75rem;
}

.input-mini svg:first-child {
  left: 0.25rem;
}

.input-mini svg:last-child {
  right: 0.25rem;
}

.input-primary {
  color: white;
  background-color: #007a76;
}

.input-primary::-webkit-input-placeholder {
  color: white;
}

.input-primary:-ms-input-placeholder {
  color: white;
}

.input-primary::-ms-input-placeholder {
  color: white;
}

.input-primary::placeholder {
  color: white;
}

.input-primary:hover {
  color: #ededed;
  background-color: #006663;
}

.input-primary:hover::-webkit-input-placeholder {
  color: #ededed;
}

.input-primary:hover:-ms-input-placeholder {
  color: #ededed;
}

.input-primary:hover::-ms-input-placeholder {
  color: #ededed;
}

.input-primary:hover::placeholder {
  color: #ededed;
}

.input-primary-dark {
  color: white;
  background-color: rgba(255, 255, 255, 0.25);
}

.input-primary-dark::-webkit-input-placeholder {
  color: white;
}

.input-primary-dark:-ms-input-placeholder {
  color: white;
}

.input-primary-dark::-ms-input-placeholder {
  color: white;
}

.input-primary-dark::placeholder {
  color: white;
}

.input-primary-dark:hover {
  color: #f7f7f7;
  background-color: rgba(255, 255, 255, 0.15);
}

.input-primary-dark:hover::-webkit-input-placeholder {
  color: #f7f7f7;
}

.input-primary-dark:hover:-ms-input-placeholder {
  color: #f7f7f7;
}

.input-primary-dark:hover::-ms-input-placeholder {
  color: #f7f7f7;
}

.input-primary-dark:hover::placeholder {
  color: #f7f7f7;
}

.input-secondary {
  color: #007a76;
  background-color: #f6f9f9;
}

.input-secondary::-webkit-input-placeholder {
  color: #007a76;
}

.input-secondary:-ms-input-placeholder {
  color: #007a76;
}

.input-secondary::-ms-input-placeholder {
  color: #007a76;
}

.input-secondary::placeholder {
  color: #007a76;
}

.input-secondary:hover {
  color: #006663;
  background-color: #eaf1f0;
}

.input-secondary:hover::-webkit-input-placeholder {
  color: #006663;
}

.input-secondary:hover:-ms-input-placeholder {
  color: #006663;
}

.input-secondary:hover::-ms-input-placeholder {
  color: #006663;
}

.input-secondary:hover::placeholder {
  color: #006663;
}

.input-secondary-dark {
  color: #4dfff9;
  background-color: rgba(255, 255, 255, 0.05);
}

.input-secondary-dark::-webkit-input-placeholder {
  color: #4dfff9;
}

.input-secondary-dark:-ms-input-placeholder {
  color: #4dfff9;
}

.input-secondary-dark::-ms-input-placeholder {
  color: #4dfff9;
}

.input-secondary-dark::placeholder {
  color: #4dfff9;
}

.input-secondary-dark:hover {
  color: #00e6de;
  background-color: rgba(255, 255, 255, 0.15);
}

.input-secondary-dark:hover::-webkit-input-placeholder {
  color: #00e6de;
}

.input-secondary-dark:hover:-ms-input-placeholder {
  color: #00e6de;
}

.input-secondary-dark:hover::-ms-input-placeholder {
  color: #00e6de;
}

.input-secondary-dark:hover::placeholder {
  color: #00e6de;
}

.input-ghost {
  color: #007a76;
  background-color: rgba(255, 255, 255, 0);
}

.input-ghost::-webkit-input-placeholder {
  color: #007a76;
}

.input-ghost:-ms-input-placeholder {
  color: #007a76;
}

.input-ghost::-ms-input-placeholder {
  color: #007a76;
}

.input-ghost::placeholder {
  color: #007a76;
}

.input-ghost:hover {
  color: #006663;
  background-color: #f6f9f9;
}

.input-ghost:hover::-webkit-input-placeholder {
  color: #006663;
}

.input-ghost:hover:-ms-input-placeholder {
  color: #006663;
}

.input-ghost:hover::-ms-input-placeholder {
  color: #006663;
}

.input-ghost:hover::placeholder {
  color: #006663;
}

.input-ghost-dark {
  color: #4dfff9;
  background-color: rgba(255, 255, 255, 0);
}

.input-ghost-dark::-webkit-input-placeholder {
  color: #4dfff9;
}

.input-ghost-dark:-ms-input-placeholder {
  color: #4dfff9;
}

.input-ghost-dark::-ms-input-placeholder {
  color: #4dfff9;
}

.input-ghost-dark::placeholder {
  color: #4dfff9;
}

.input-ghost-dark:hover {
  color: #00e6de;
  background-color: rgba(255, 255, 255, 0.05);
}

.input-ghost-dark:hover::-webkit-input-placeholder {
  color: #00e6de;
}

.input-ghost-dark:hover:-ms-input-placeholder {
  color: #00e6de;
}

.input-ghost-dark:hover::-ms-input-placeholder {
  color: #00e6de;
}

.input-ghost-dark:hover::placeholder {
  color: #00e6de;
}

.input-outline {
  color: #007a76;
  background-color: rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0 0 0 0.125rem #007a76;
          box-shadow: 0 0 0 0.125rem #007a76;
}

.input-outline::-webkit-input-placeholder {
  color: #007a76;
}

.input-outline:-ms-input-placeholder {
  color: #007a76;
}

.input-outline::-ms-input-placeholder {
  color: #007a76;
}

.input-outline::placeholder {
  color: #007a76;
}

.input-outline:hover {
  color: #006663;
  background-color: #eaf1f0;
  -webkit-box-shadow: 0 0 0 0.125rem #006663;
          box-shadow: 0 0 0 0.125rem #006663;
}

.input-outline:hover::-webkit-input-placeholder {
  color: #006663;
}

.input-outline:hover:-ms-input-placeholder {
  color: #006663;
}

.input-outline:hover::-ms-input-placeholder {
  color: #006663;
}

.input-outline:hover::placeholder {
  color: #006663;
}

.input-outline-dark {
  color: #4dfff9;
  background-color: rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0 0 0 0.125rem #4dfff9;
          box-shadow: 0 0 0 0.125rem #4dfff9;
}

.input-outline-dark::-webkit-input-placeholder {
  color: #4dfff9;
}

.input-outline-dark:-ms-input-placeholder {
  color: #4dfff9;
}

.input-outline-dark::-ms-input-placeholder {
  color: #4dfff9;
}

.input-outline-dark::placeholder {
  color: #4dfff9;
}

.input-outline-dark:hover {
  color: #00e6de;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: 0 0 0 0.125rem #00e6de;
          box-shadow: 0 0 0 0.125rem #00e6de;
}

.input-outline-dark:hover::-webkit-input-placeholder {
  color: #00e6de;
}

.input-outline-dark:hover:-ms-input-placeholder {
  color: #00e6de;
}

.input-outline-dark:hover::-ms-input-placeholder {
  color: #00e6de;
}

.input-outline-dark:hover::placeholder {
  color: #00e6de;
}

.large:focus,
.regular:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.75rem #e7efee;
          box-shadow: 0 0 0 0.75rem #e7efee;
}

.large-dark:focus,
.regular-dark:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.75rem rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 0 0.75rem rgba(255, 255, 255, 0.2);
}

.small:focus,
.mini:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.5rem #e7efee;
          box-shadow: 0 0 0 0.5rem #e7efee;
}

.small-dark:focus,
.mini-dark:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.5rem rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 0 0.5rem rgba(255, 255, 255, 0.2);
}

.margin-top-4 {
  margin-top: 0.25rem;
}

.margin-top-8 {
  margin-top: 0.5rem;
}

.margin-top-12 {
  margin-top: 0.75rem;
}

.margin-top-16 {
  margin-top: 1rem;
}

.margin-top-20 {
  margin-top: 1.25rem;
}

.margin-top-24 {
  margin-top: 1.5rem;
}

.margin-top-28 {
  margin-top: 1.75rem;
}

.margin-top-32 {
  margin-top: 2rem;
}

.margin-top-36 {
  margin-top: 2.25rem;
}

.margin-top-40 {
  margin-top: 2.5rem;
}

.margin-top-44 {
  margin-top: 2.75rem;
}

.margin-top-48 {
  margin-top: 3rem;
}

.margin-top-52 {
  margin-top: 3.25rem;
}

.margin-top-56 {
  margin-top: 3.5rem;
}

.margin-top-60 {
  margin-top: 3.75rem;
}

.margin-top-64 {
  margin-top: 4rem;
}

.margin-top-68 {
  margin-top: 4.25rem;
}

.margin-top-72 {
  margin-top: 4.5rem;
}

.margin-top-76 {
  margin-top: 4.75rem;
}

.margin-top-80 {
  margin-top: 5rem;
}

.margin-top-84 {
  margin-top: 5.25rem;
}

.margin-top-88 {
  margin-top: 5.5rem;
}

.margin-top-92 {
  margin-top: 5.75rem;
}

.margin-top-96 {
  margin-top: 6rem;
}

.margin-top-100 {
  margin-top: 6.25rem;
}

.margin-top-104 {
  margin-top: 6.5rem;
}

.margin-top-108 {
  margin-top: 6.75rem;
}

.margin-top-112 {
  margin-top: 7rem;
}

.margin-top-116 {
  margin-top: 7.25rem;
}

.margin-top-120 {
  margin-top: 7.5rem;
}

.margin-right-4 {
  margin-right: 0.25rem;
}

.margin-right-8 {
  margin-right: 0.5rem;
}

.margin-right-12 {
  margin-right: 0.75rem;
}

.margin-right-16 {
  margin-right: 1rem;
}

.margin-right-20 {
  margin-right: 1.25rem;
}

.margin-right-24 {
  margin-right: 1.5rem;
}

.margin-right-28 {
  margin-right: 1.75rem;
}

.margin-right-32 {
  margin-right: 2rem;
}

.margin-right-36 {
  margin-right: 2.25rem;
}

.margin-right-40 {
  margin-right: 2.5rem;
}

.margin-right-44 {
  margin-right: 2.75rem;
}

.margin-right-48 {
  margin-right: 3rem;
}

.margin-right-52 {
  margin-right: 3.25rem;
}

.margin-right-56 {
  margin-right: 3.5rem;
}

.margin-right-60 {
  margin-right: 3.75rem;
}

.margin-right-64 {
  margin-right: 4rem;
}

.margin-right-68 {
  margin-right: 4.25rem;
}

.margin-right-72 {
  margin-right: 4.5rem;
}

.margin-right-76 {
  margin-right: 4.75rem;
}

.margin-right-80 {
  margin-right: 5rem;
}

.margin-right-84 {
  margin-right: 5.25rem;
}

.margin-right-88 {
  margin-right: 5.5rem;
}

.margin-right-92 {
  margin-right: 5.75rem;
}

.margin-right-96 {
  margin-right: 6rem;
}

.margin-right-100 {
  margin-right: 6.25rem;
}

.margin-right-104 {
  margin-right: 6.5rem;
}

.margin-right-108 {
  margin-right: 6.75rem;
}

.margin-right-112 {
  margin-right: 7rem;
}

.margin-right-116 {
  margin-right: 7.25rem;
}

.margin-right-120 {
  margin-right: 7.5rem;
}

.margin-bottom-4 {
  margin-bottom: 0.25rem;
}

.margin-bottom-8 {
  margin-bottom: 0.5rem;
}

.margin-bottom-12 {
  margin-bottom: 0.75rem;
}

.margin-bottom-16 {
  margin-bottom: 1rem;
}

.margin-bottom-20 {
  margin-bottom: 1.25rem;
}

.margin-bottom-24 {
  margin-bottom: 1.5rem;
}

.margin-bottom-28 {
  margin-bottom: 1.75rem;
}

.margin-bottom-32 {
  margin-bottom: 2rem;
}

.margin-bottom-36 {
  margin-bottom: 2.25rem;
}

.margin-bottom-40 {
  margin-bottom: 2.5rem;
}

.margin-bottom-44 {
  margin-bottom: 2.75rem;
}

.margin-bottom-48 {
  margin-bottom: 3rem;
}

.margin-bottom-52 {
  margin-bottom: 3.25rem;
}

.margin-bottom-56 {
  margin-bottom: 3.5rem;
}

.margin-bottom-60 {
  margin-bottom: 3.75rem;
}

.margin-bottom-64 {
  margin-bottom: 4rem;
}

.margin-bottom-68 {
  margin-bottom: 4.25rem;
}

.margin-bottom-72 {
  margin-bottom: 4.5rem;
}

.margin-bottom-76 {
  margin-bottom: 4.75rem;
}

.margin-bottom-80 {
  margin-bottom: 5rem;
}

.margin-bottom-84 {
  margin-bottom: 5.25rem;
}

.margin-bottom-88 {
  margin-bottom: 5.5rem;
}

.margin-bottom-92 {
  margin-bottom: 5.75rem;
}

.margin-bottom-96 {
  margin-bottom: 6rem;
}

.margin-bottom-100 {
  margin-bottom: 6.25rem;
}

.margin-bottom-104 {
  margin-bottom: 6.5rem;
}

.margin-bottom-108 {
  margin-bottom: 6.75rem;
}

.margin-bottom-112 {
  margin-bottom: 7rem;
}

.margin-bottom-116 {
  margin-bottom: 7.25rem;
}

.margin-bottom-120 {
  margin-bottom: 7.5rem;
}

.margin-left-4 {
  margin-left: 0.25rem;
}

.margin-left-8 {
  margin-left: 0.5rem;
}

.margin-left-12 {
  margin-left: 0.75rem;
}

.margin-left-16 {
  margin-left: 1rem;
}

.margin-left-20 {
  margin-left: 1.25rem;
}

.margin-left-24 {
  margin-left: 1.5rem;
}

.margin-left-28 {
  margin-left: 1.75rem;
}

.margin-left-32 {
  margin-left: 2rem;
}

.margin-left-36 {
  margin-left: 2.25rem;
}

.margin-left-40 {
  margin-left: 2.5rem;
}

.margin-left-44 {
  margin-left: 2.75rem;
}

.margin-left-48 {
  margin-left: 3rem;
}

.margin-left-52 {
  margin-left: 3.25rem;
}

.margin-left-56 {
  margin-left: 3.5rem;
}

.margin-left-60 {
  margin-left: 3.75rem;
}

.margin-left-64 {
  margin-left: 4rem;
}

.margin-left-68 {
  margin-left: 4.25rem;
}

.margin-left-72 {
  margin-left: 4.5rem;
}

.margin-left-76 {
  margin-left: 4.75rem;
}

.margin-left-80 {
  margin-left: 5rem;
}

.margin-left-84 {
  margin-left: 5.25rem;
}

.margin-left-88 {
  margin-left: 5.5rem;
}

.margin-left-92 {
  margin-left: 5.75rem;
}

.margin-left-96 {
  margin-left: 6rem;
}

.margin-left-100 {
  margin-left: 6.25rem;
}

.margin-left-104 {
  margin-left: 6.5rem;
}

.margin-left-108 {
  margin-left: 6.75rem;
}

.margin-left-112 {
  margin-left: 7rem;
}

.margin-left-116 {
  margin-left: 7.25rem;
}

.margin-left-120 {
  margin-left: 7.5rem;
}

.padding-top-4 {
  padding-top: 0.25rem;
}

.padding-top-8 {
  padding-top: 0.5rem;
}

.padding-top-12 {
  padding-top: 0.75rem;
}

.padding-top-16 {
  padding-top: 1rem;
}

.padding-top-20 {
  padding-top: 1.25rem;
}

.padding-top-24 {
  padding-top: 1.5rem;
}

.padding-top-28 {
  padding-top: 1.75rem;
}

.padding-top-32 {
  padding-top: 2rem;
}

.padding-top-36 {
  padding-top: 2.25rem;
}

.padding-top-40 {
  padding-top: 2.5rem;
}

.padding-top-44 {
  padding-top: 2.75rem;
}

.padding-top-48 {
  padding-top: 3rem;
}

.padding-top-52 {
  padding-top: 3.25rem;
}

.padding-top-56 {
  padding-top: 3.5rem;
}

.padding-top-60 {
  padding-top: 3.75rem;
}

.padding-top-64 {
  padding-top: 4rem;
}

.padding-top-68 {
  padding-top: 4.25rem;
}

.padding-top-72 {
  padding-top: 4.5rem;
}

.padding-top-76 {
  padding-top: 4.75rem;
}

.padding-top-80 {
  padding-top: 5rem;
}

.padding-top-84 {
  padding-top: 5.25rem;
}

.padding-top-88 {
  padding-top: 5.5rem;
}

.padding-top-92 {
  padding-top: 5.75rem;
}

.padding-top-96 {
  padding-top: 6rem;
}

.padding-top-100 {
  padding-top: 6.25rem;
}

.padding-top-104 {
  padding-top: 6.5rem;
}

.padding-top-108 {
  padding-top: 6.75rem;
}

.padding-top-112 {
  padding-top: 7rem;
}

.padding-top-116 {
  padding-top: 7.25rem;
}

.padding-top-120 {
  padding-top: 7.5rem;
}

.padding-right-4 {
  padding-right: 0.25rem;
}

.padding-right-8 {
  padding-right: 0.5rem;
}

.padding-right-12 {
  padding-right: 0.75rem;
}

.padding-right-16 {
  padding-right: 1rem;
}

.padding-right-20 {
  padding-right: 1.25rem;
}

.padding-right-24 {
  padding-right: 1.5rem;
}

.padding-right-28 {
  padding-right: 1.75rem;
}

.padding-right-32 {
  padding-right: 2rem;
}

.padding-right-36 {
  padding-right: 2.25rem;
}

.padding-right-40 {
  padding-right: 2.5rem;
}

.padding-right-44 {
  padding-right: 2.75rem;
}

.padding-right-48 {
  padding-right: 3rem;
}

.padding-right-52 {
  padding-right: 3.25rem;
}

.padding-right-56 {
  padding-right: 3.5rem;
}

.padding-right-60 {
  padding-right: 3.75rem;
}

.padding-right-64 {
  padding-right: 4rem;
}

.padding-right-68 {
  padding-right: 4.25rem;
}

.padding-right-72 {
  padding-right: 4.5rem;
}

.padding-right-76 {
  padding-right: 4.75rem;
}

.padding-right-80 {
  padding-right: 5rem;
}

.padding-right-84 {
  padding-right: 5.25rem;
}

.padding-right-88 {
  padding-right: 5.5rem;
}

.padding-right-92 {
  padding-right: 5.75rem;
}

.padding-right-96 {
  padding-right: 6rem;
}

.padding-right-100 {
  padding-right: 6.25rem;
}

.padding-right-104 {
  padding-right: 6.5rem;
}

.padding-right-108 {
  padding-right: 6.75rem;
}

.padding-right-112 {
  padding-right: 7rem;
}

.padding-right-116 {
  padding-right: 7.25rem;
}

.padding-right-120 {
  padding-right: 7.5rem;
}

.padding-bottom-4 {
  padding-bottom: 0.25rem;
}

.padding-bottom-8 {
  padding-bottom: 0.5rem;
}

.padding-bottom-12 {
  padding-bottom: 0.75rem;
}

.padding-bottom-16 {
  padding-bottom: 1rem;
}

.padding-bottom-20 {
  padding-bottom: 1.25rem;
}

.padding-bottom-24 {
  padding-bottom: 1.5rem;
}

.padding-bottom-28 {
  padding-bottom: 1.75rem;
}

.padding-bottom-32 {
  padding-bottom: 2rem;
}

.padding-bottom-36 {
  padding-bottom: 2.25rem;
}

.padding-bottom-40 {
  padding-bottom: 2.5rem;
}

.padding-bottom-44 {
  padding-bottom: 2.75rem;
}

.padding-bottom-48 {
  padding-bottom: 3rem;
}

.padding-bottom-52 {
  padding-bottom: 3.25rem;
}

.padding-bottom-56 {
  padding-bottom: 3.5rem;
}

.padding-bottom-60 {
  padding-bottom: 3.75rem;
}

.padding-bottom-64 {
  padding-bottom: 4rem;
}

.padding-bottom-68 {
  padding-bottom: 4.25rem;
}

.padding-bottom-72 {
  padding-bottom: 4.5rem;
}

.padding-bottom-76 {
  padding-bottom: 4.75rem;
}

.padding-bottom-80 {
  padding-bottom: 5rem;
}

.padding-bottom-84 {
  padding-bottom: 5.25rem;
}

.padding-bottom-88 {
  padding-bottom: 5.5rem;
}

.padding-bottom-92 {
  padding-bottom: 5.75rem;
}

.padding-bottom-96 {
  padding-bottom: 6rem;
}

.padding-bottom-100 {
  padding-bottom: 6.25rem;
}

.padding-bottom-104 {
  padding-bottom: 6.5rem;
}

.padding-bottom-108 {
  padding-bottom: 6.75rem;
}

.padding-bottom-112 {
  padding-bottom: 7rem;
}

.padding-bottom-116 {
  padding-bottom: 7.25rem;
}

.padding-bottom-120 {
  padding-bottom: 7.5rem;
}

.padding-left-4 {
  padding-left: 0.25rem;
}

.padding-left-8 {
  padding-left: 0.5rem;
}

.padding-left-12 {
  padding-left: 0.75rem;
}

.padding-left-16 {
  padding-left: 1rem;
}

.padding-left-20 {
  padding-left: 1.25rem;
}

.padding-left-24 {
  padding-left: 1.5rem;
}

.padding-left-28 {
  padding-left: 1.75rem;
}

.padding-left-32 {
  padding-left: 2rem;
}

.padding-left-36 {
  padding-left: 2.25rem;
}

.padding-left-40 {
  padding-left: 2.5rem;
}

.padding-left-44 {
  padding-left: 2.75rem;
}

.padding-left-48 {
  padding-left: 3rem;
}

.padding-left-52 {
  padding-left: 3.25rem;
}

.padding-left-56 {
  padding-left: 3.5rem;
}

.padding-left-60 {
  padding-left: 3.75rem;
}

.padding-left-64 {
  padding-left: 4rem;
}

.padding-left-68 {
  padding-left: 4.25rem;
}

.padding-left-72 {
  padding-left: 4.5rem;
}

.padding-left-76 {
  padding-left: 4.75rem;
}

.padding-left-80 {
  padding-left: 5rem;
}

.padding-left-84 {
  padding-left: 5.25rem;
}

.padding-left-88 {
  padding-left: 5.5rem;
}

.padding-left-92 {
  padding-left: 5.75rem;
}

.padding-left-96 {
  padding-left: 6rem;
}

.padding-left-100 {
  padding-left: 6.25rem;
}

.padding-left-104 {
  padding-left: 6.5rem;
}

.padding-left-108 {
  padding-left: 6.75rem;
}

.padding-left-112 {
  padding-left: 7rem;
}

.padding-left-116 {
  padding-left: 7.25rem;
}

.padding-left-120 {
  padding-left: 7.5rem;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 6rem 0;
}

body .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
  padding: 1.5rem;
}

body .container-dark {
  background-color: #334d4c;
}

body .container-type {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .container-arabic {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
/*# sourceMappingURL=main.css.map */