$negative-black: hsla(0, 0%, 0%, 1);
$negative-white: hsla(0, 0%, 100%, 1);
$negative-white-main: hsla(0, 0%, 100%, 0.05);
$negative-white-hover: hsla(0, 0%, 100%, 0.25);
$negative-white-hide: hsla(0, 0%, 100%, 0);

$grey-focus: hsla(0, 0%, 92%, 1);
$grey-highlight: hsla(0, 0%, 97%, 1);
$grey-hover: hsla(0, 0%, 93%, 1);
$grey-heading: hsla(0, 0%, 24%, 1);
$grey-text: hsla(0, 0%, 46%, 1);

$primary-main: hsla(178, 100%, 24%, 1);
$primary-hover: hsla(178, 100%, 20%, 1);
$primary-text: hsla(178, 100%, 16%, 1);

$secondary-focus: hsla(178, 20%, 92%, 1);
$secondary-highlight: hsla(178, 20%, 97%, 1);
$secondary-hover: hsla(178, 20%, 93%, 1);
$secondary-background: hsla(178, 20%, 25%, 1);

$tertiary-main: hsla(178, 100%, 65%, 1);
$tertiary-hover: hsla(178, 100%, 45%, 1);
