$negative-black: hsla(0, 0%, 0%, 1);
$negative-white: hsla(0, 0%, 100%, 1);
$grey-focus: hsla(0, 0%, 92%, 1);
$grey-highlight: hsla(0, 0%, 97%, 1);
$grey-hover: hsla(0, 0%, 93%, 1);
$grey-heading: hsla(0, 0%, 24%, 1);
$grey-text: hsla(0, 0%, 46%, 1);
$primary-main: hsla(178, 100%, 24%, 1);
$primary-hover: hsla(178, 100%, 20%, 1);
$secondary-focus: hsla(173, 20%, 92%, 1);
$secondary-highlight: hsla(180, 20%, 97%, 1);
$secondary-hover: hsla(171, 20%, 93%, 1);
