$negative-black: hsla(0, 0%, 0%, 1);
$negative-white: hsla(0, 0%, 100%, 1);
$negative-white-main: hsla(0, 0%, 100%, 0.05);
$negative-white-25: hsla(0, 0%, 100%, 0.25);
$negative-white-20: hsla(0, 0%, 100%, 0.2);
$negative-white-15: hsla(0, 0%, 100%, 0.15);
$negative-white-5: hsla(0, 0%, 100%, 0.05);
$negative-white-0: hsla(0, 0%, 100%, 0);

$grey-focus: hsla(0, 0%, 92%, 1);
$grey-highlight: hsla(0, 0%, 97%, 1);
$grey-hover: hsla(0, 0%, 93%, 1);
$grey-heading: hsla(0, 0%, 13%, 1);
$grey-text: hsla(0, 0%, 33%, 1);

$primary-main: hsla(268, 100%, 60%, 1);
$primary-hover: hsla(268, 100%, 50%, 1);
$primary-text: hsla(268, 100%, 30%, 1);

$secondary-focus: hsla(268, 20%, 92%, 1);
$secondary-highlight: hsla(268, 20%, 97%, 1);
$secondary-hover: hsla(268, 20%, 93%, 1);
$secondary-background: hsla(268, 20%, 15%, 1);
$secondary-text: hsla(268, 20%, 36%, 1);

$tertiary-main: hsla(268, 100%, 85%, 1);
$tertiary-hover: hsla(268, 100%, 90%, 1);
$tertiary-main-dark: hsla(268, 100%, 85%, 0.25);
$tertiary-hover-dark: hsla(268, 100%, 75%, 0.25);

$content-heading: hsla(268, 8%, 22%, 1);
$content-text: hsla(268, 8%, 42%, 1);
$content-heading-dark: hsla(268, 8%, 99%, 1);
$content-text-dark: hsla(268, 8%, 81%, 1);

$success-background: hsla(102, 80%, 95%, 1);
$success-text: hsla(102, 100%, 25%, 1);
$success-focus: hsla(102, 60%, 90%, 1);
$success-background-hover: hsla(102, 90%, 90%, 1);
$success-text-hover: hsla(102, 100%, 20%, 1);
$success-background-dark: hsla(102, 100%, 81%, 0.1);
$success-text-dark: hsla(102, 100%, 81%, 1);

$error-background: hsla(0, 100%, 95%, 1);
$error-text: hsla(0, 100%, 42%, 1);
$error-focus: hsla(0, 100%, 90%, 1);
$error-background-hover: hsla(0, 100%, 90%, 1);
$error-text-hover: hsla(0, 100%, 35%, 1);
$error-background-dark: hsla(0, 100%, 88%, 0.1);
$error-text-dark: hsla(0, 100%, 88%, 1);

$warning-background: hsla(36, 100%, 95%, 1);
$warning-text: hsla(36, 100%, 32%, 1);
$warning-focus: hsla(36, 60%, 90%, 1);
$warning-background-hover: hsla(36, 100%, 90%, 1);
$warning-text-hover: hsla(36, 100%, 25%, 1);
$warning-background-dark: hsla(36, 100%, 82%, 0.1);
$warning-text-dark: hsla(36, 100%, 82%, 1);

$progress-background: hsla(216, 100%, 95%, 1);
$progress-text: hsla(216, 100%, 47%, 1);
$progress-focus: hsla(216, 100%, 90%, 1);
$progress-background-hover: hsla(216, 100%, 90%, 1);
$progress-text-hover: hsla(216, 100%, 40%, 1);
$progress-background-dark: hsla(216, 100%, 86%, 0.1);
$progress-text-dark: hsla(216, 100%, 86%, 1);
