.large,
.regular {
  &:focus {
    outline: none;
    box-shadow: $pd-0 $pd-0 $pd-0 $pd-12 $secondary-focus;
  }
  &-dark {
    &:focus {
      outline: none;
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-12 $negative-white-20;
    }
  }
}

.small,
.mini {
  &:focus {
    outline: none;
    box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $secondary-focus;
  }
  &-dark {
    &:focus {
      outline: none;
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $negative-white-20;
    }
  }
}
