$english: "Noto Sans Display", sans-serif;
$arabic: "Noto Sans Arabic", sans-serif;
$headline: $pd-96;
$lead: $pd-76;
$h1: $pd-60;
$h2: $pd-48;
$h3: $pd-40;
$h4: $pd-32;
$h5: $pd-24;
$h6: $pd-20;
$title: $pd-18;
$body: $pd-16;
$caption: $pd-14;
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$thick: 900;

.arabic {
  font-family: $arabic;
  direction: rtl;
  text-align: start;
}
.english {
  font-family: $english;
  text-align: start;
}

@mixin typography(
  $type-size,
  $type-weight,
  $type-height,
  $type-kerning,
  $type-spacing,
  $type-color
) {
  font-size: $type-size;
  font-weight: $type-weight;
  line-height: $type-height;
  letter-spacing: $type-kerning;
  word-spacing: $type-spacing;
  color: $type-color;
}

.headline {
  @include typography(
    $headline,
    $thick,
    $pd-100,
    $pd-1-negative,
    $pd-4,
    $content-heading
  );
}
.lead {
  @include typography(
    $lead,
    $light,
    $pd-92,
    $pd-075-negative,
    $pd-050,
    $content-text
  );
}
h1 {
  @include typography(
    $h1,
    $thick,
    $pd-72,
    $pd-050-negative,
    $pd-025,
    $content-heading
  );
}
h2 {
  @include typography(
    $h2,
    $regular,
    $pd-64,
    $pd-025-negative,
    $pd-050,
    $content-text
  );
}
h3 {
  font-size: $h3;
}
h4 {
  font-size: $h4;
}
h5 {
  font-size: $h5;
}
h6 {
  font-size: $h6;
}
.title {
  font-size: $title;
}
p {
  font-size: $body;
}
small {
  font-size: $caption;
}
ul,
ol {
  font-size: $title;
}
li {
  font-size: $caption;
}
