@mixin text-background($first-text-color, $second-background-color) {
  color: $first-text-color;
  background-color: $second-background-color;
}

@mixin svg-fill($svg-fill-color) {
  svg {
    path {
      fill: $svg-fill-color;
    }
  }
}

@mixin svg-animation-hover {
  svg {
    transform: rotate(0deg);
    transition: transform 180ms ease-out;
  }
  &:hover {
    svg {
      transform: rotate(360deg);
    }
  }
}

@mixin placeholder-text-color($placeholder-text-color) {
  &::placeholder {
    color: $placeholder-text-color;
  }
}
