@mixin svg-fill($svg-fill-color) {
  svg {
    path {
      fill: $svg-fill-color;
    }
  }
}

@mixin svg-animation-hover {
  svg {
    transform: rotate(0deg);
    transition: transform 180ms ease-out;
  }
  &:hover {
    svg {
      transform: rotate(360deg);
    }
  }
}

@mixin placeholder-text-color($placeholder-text-color) {
  &::placeholder {
    color: $placeholder-text-color;
  }
}

@mixin english-placeholder-padding($english-placeholder-padding) {
  input {
    padding-left: $english-placeholder-padding;
    &:hover {
      padding-left: $english-placeholder-padding;
    }
  }
}

@mixin input-icon-padding($input-icon-padding) {
  svg {
    &:first-child {
      left: $input-icon-padding;
    }
    &:last-child {
      right: $input-icon-padding;
    }
  }
}

@mixin input-position {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

@mixin input-svg-position {
  svg {
    &:first-child,
    &:last-child {
      position: absolute;
    }
  }
}
