@mixin large-size {
  font-size: $pd-20;
  padding-top: $pd-32;
  padding-right: $pd-32;
  padding-bottom: $pd-32;
  padding-left: $pd-32;
  border-radius: $pd-32;
}

@mixin regular-size {
  font-size: $pd-18;
  padding-top: $pd-24;
  padding-right: $pd-24;
  padding-bottom: $pd-24;
  padding-left: $pd-24;
  border-radius: $pd-28;
}

@mixin small-size {
  font-size: $pd-16;
  padding-top: $pd-12;
  padding-right: $pd-12;
  padding-bottom: $pd-12;
  padding-left: $pd-12;
  border-radius: $pd-18;
}

@mixin mini-size {
  font-size: $pd-14;
  padding-top: $pd-4;
  padding-right: $pd-4;
  padding-bottom: $pd-4;
  padding-left: $pd-4;
  border-radius: $pd-8;
}

@mixin text-background($first-text-color, $second-background-color) {
  color: $first-text-color;
  background-color: $second-background-color;
}

@mixin svg-fill($svg-fill-color) {
  svg {
    path {
      fill: $svg-fill-color;
    }
  }
}

@mixin svg-animation-hover {
  svg {
    transform: rotate(0deg);
    transition: transform 180ms ease-out;
  }
  &:hover {
    svg {
      transform: rotate(360deg);
    }
  }
}
