.primary,
.secondary,
.ghost,
.outline {
  @include svg-animation-hover();
  &-dark {
    @include svg-animation-hover();
  }
}

.large {
  &-primary {
    @include large-size();
    @include svg-fill($negative-white);
    &:link,
    &:visited {
      @include large-size();
      @include primary-styles();
    }
    &:hover {
      @include large-size();
      @include primary-styles-hover();
      @include svg-fill($grey-hover);
    }
    &:active {
      @include large-size();
      @include primary-styles();
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $secondary-focus;
    }
    &:focus {
      outline: none;
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-12 $secondary-focus;
    }
    &-dark {
      @include large-size();
      @include svg-fill($negative-white);
      &:link,
      &:visited {
        @include large-size();
        @include text-background($negative-white, $negative-white-25);
      }
      &:hover {
        @include large-size();
        @include text-background($grey-highlight, $negative-white-15);
        @include svg-fill($grey-highlight);
      }
      &:active {
        @include large-size();
        @include text-background($negative-white, $negative-white-25);
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $negative-white-20;
      }
      &:focus {
        outline: none;
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-12 $negative-white-20;
      }
    }
  }
  &-secondary {
    @include large-size();
    @include svg-fill($primary-main);
    &:link,
    &:visited {
      @include large-size();
      @include secondary-styles();
    }
    &:hover {
      @include large-size();
      @include secondary-styles-hover();
      @include svg-fill($primary-hover);
    }
    &:active {
      @include large-size();
      @include secondary-styles();
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $secondary-focus;
    }
    &:focus {
      outline: none;
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-12 $secondary-focus;
    }
    &-dark {
      @include large-size();
      @include svg-fill($tertiary-main);
      &:link,
      &:visited {
        @include large-size();
        @include text-background($tertiary-main, $negative-white-5);
      }
      &:hover {
        @include large-size();
        @include text-background($tertiary-hover, $negative-white-15);
        @include svg-fill($tertiary-hover);
      }
      &:active {
        @include large-size();
        @include text-background($tertiary-main, $negative-white-5);
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $negative-white-20;
      }
      &:focus {
        outline: none;
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-12 $negative-white-20;
      }
    }
  }
  &-ghost {
    @include large-size();
    @include svg-fill($primary-main);
    &:link,
    &:visited {
      @include large-size();
      @include ghost-styles();
    }
    &:hover {
      @include large-size();
      @include ghost-styles-hover();
      @include svg-fill($primary-hover);
    }
    &:active {
      @include large-size();
      @include ghost-styles();
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $secondary-focus;
    }
    &:focus {
      outline: none;
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-12 $secondary-focus;
    }
    &-dark {
      @include large-size();
      @include svg-fill($tertiary-main);
      &:link,
      &:visited {
        @include large-size();
        @include text-background($tertiary-main, $negative-white-0);
      }
      &:hover {
        @include large-size();
        @include text-background($tertiary-hover, $negative-white-5);
        @include svg-fill($tertiary-hover);
      }
      &:active {
        @include large-size();
        @include text-background($tertiary-main, $negative-white-0);
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $negative-white-20;
      }
      &:focus {
        outline: none;
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-12 $negative-white-20;
      }
    }
  }
  &-outline {
    @include large-size();
    @include svg-fill($primary-main);
    &:link,
    &:visited {
      @include large-size();
      @include ghost-styles();
      @include outline-styles();
    }
    &:hover {
      @include large-size();
      @include secondary-styles-hover();
      @include outline-styles-hover();
      @include svg-fill($primary-hover);
    }
    &:active {
      @include large-size();
      @include ghost-styles();
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $secondary-focus;
    }
    &:focus {
      outline: none;
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-12 $secondary-focus;
    }
    &-dark {
      @include large-size();
      @include svg-fill($tertiary-main);
      &:link,
      &:visited {
        @include large-size();
        @include text-background($tertiary-main, $negative-white-0);
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-2 $tertiary-main;
      }
      &:hover {
        @include large-size();
        @include text-background($tertiary-hover, $negative-white-5);
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-2 $tertiary-hover;
        @include svg-fill($tertiary-hover);
      }
      &:active {
        @include large-size();
        @include text-background($tertiary-main, $negative-white-0);
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $negative-white-20;
      }
      &:focus {
        outline: none;
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-12 $negative-white-20;
      }
    }
  }
}

.regular {
  &-primary {
    @include regular-size();
    @include svg-fill($negative-white);
    &:link,
    &:visited {
      @include regular-size();
      @include primary-styles();
    }
    &:hover {
      @include regular-size();
      @include primary-styles-hover();
      @include svg-fill($grey-hover);
    }
    &:active {
      @include regular-size();
      @include primary-styles();
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $secondary-focus;
    }
    &:focus {
      outline: none;
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-12 $secondary-focus;
    }
    &-dark {
      @include regular-size();
      @include svg-fill($negative-white);
      &:link,
      &:visited {
        @include regular-size();
        @include text-background($negative-white, $negative-white-25);
      }
      &:hover {
        @include regular-size();
        @include text-background($grey-highlight, $negative-white-15);
        @include svg-fill($grey-highlight);
      }
      &:active {
        @include regular-size();
        @include text-background($negative-white, $negative-white-25);
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $negative-white-20;
      }
      &:focus {
        outline: none;
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-12 $negative-white-20;
      }
    }
  }
  &-secondary {
    @include regular-size();
    @include svg-fill($primary-main);
    &:link,
    &:visited {
      @include regular-size();
      @include secondary-styles();
    }
    &:hover {
      @include regular-size();
      @include secondary-styles-hover();
      @include svg-fill($primary-hover);
    }
    &:active {
      @include regular-size();
      @include secondary-styles();
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $secondary-focus;
    }
    &:focus {
      outline: none;
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-12 $secondary-focus;
    }
    &-dark {
      @include regular-size();
      @include svg-fill($tertiary-main);
      &:link,
      &:visited {
        @include regular-size();
        @include text-background($tertiary-main, $negative-white-5);
      }
      &:hover {
        @include regular-size();
        @include text-background($tertiary-hover, $negative-white-15);
        @include svg-fill($tertiary-hover);
      }
      &:active {
        @include regular-size();
        @include text-background($tertiary-main, $negative-white-5);
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $negative-white-20;
      }
      &:focus {
        outline: none;
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-12 $negative-white-20;
      }
    }
  }
  &-ghost {
    @include regular-size();
    @include svg-fill($primary-main);
    &:link,
    &:visited {
      @include regular-size();
      @include ghost-styles();
    }
    &:hover {
      @include regular-size();
      @include ghost-styles-hover();
      @include svg-fill($primary-hover);
    }
    &:active {
      @include regular-size();
      @include ghost-styles();
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $secondary-focus;
    }
    &:focus {
      outline: none;
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-12 $secondary-focus;
    }
    &-dark {
      @include regular-size();
      @include svg-fill($tertiary-main);
      &:link,
      &:visited {
        @include regular-size();
        @include text-background($tertiary-main, $negative-white-0);
      }
      &:hover {
        @include regular-size();
        @include text-background($tertiary-hover, $negative-white-5);
        @include svg-fill($tertiary-hover);
      }
      &:active {
        @include regular-size();
        @include text-background($tertiary-main, $negative-white-0);
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $negative-white-20;
      }
      &:focus {
        outline: none;
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-12 $negative-white-20;
      }
    }
  }
  &-outline {
    @include regular-size();
    @include svg-fill($primary-main);
    &:link,
    &:visited {
      @include regular-size();
      @include ghost-styles();
      @include outline-styles();
    }
    &:hover {
      @include regular-size();
      @include secondary-styles-hover();
      @include outline-styles-hover();
      @include svg-fill($primary-hover);
    }
    &:active {
      @include regular-size();
      @include ghost-styles();
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $secondary-focus;
    }
    &:focus {
      outline: none;
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-12 $secondary-focus;
    }
    &-dark {
      @include regular-size();
      @include svg-fill($tertiary-main);
      &:link,
      &:visited {
        @include regular-size();
        @include text-background($tertiary-main, $negative-white-0);
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-2 $tertiary-main;
      }
      &:hover {
        @include regular-size();
        @include text-background($tertiary-hover, $negative-white-5);
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-2 $tertiary-hover;
        @include svg-fill($tertiary-hover);
      }
      &:active {
        @include regular-size();
        @include text-background($tertiary-main, $negative-white-0);
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $negative-white-20;
      }
      &:focus {
        outline: none;
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-12 $negative-white-20;
      }
    }
  }
}

.small {
  &-primary {
    @include small-size();
    @include svg-fill($negative-white);
    &:link,
    &:visited {
      @include small-size();
      @include primary-styles();
    }
    &:hover {
      @include small-size();
      @include primary-styles-hover();
      @include svg-fill($grey-hover);
    }
    &:active {
      @include small-size();
      @include primary-styles();
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $secondary-focus;
    }
    &:focus {
      outline: none;
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $secondary-focus;
    }
    &-dark {
      @include small-size();
      @include svg-fill($negative-white);
      &:link,
      &:visited {
        @include small-size();
        @include text-background($negative-white, $negative-white-25);
      }
      &:hover {
        @include small-size();
        @include text-background($grey-highlight, $negative-white-15);
        @include svg-fill($grey-highlight);
      }
      &:active {
        @include small-size();
        @include text-background($negative-white, $negative-white-25);
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $negative-white-20;
      }
      &:focus {
        outline: none;
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $negative-white-20;
      }
    }
  }
  &-secondary {
    @include small-size();
    @include svg-fill($primary-main);
    &:link,
    &:visited {
      @include small-size();
      @include secondary-styles();
    }
    &:hover {
      @include small-size();
      @include secondary-styles-hover();
      @include svg-fill($primary-hover);
    }
    &:active {
      @include small-size();
      @include secondary-styles();
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $secondary-focus;
    }
    &:focus {
      outline: none;
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $secondary-focus;
    }
    &-dark {
      @include small-size();
      @include svg-fill($tertiary-main);
      &:link,
      &:visited {
        @include small-size();
        @include text-background($tertiary-main, $negative-white-5);
      }
      &:hover {
        @include small-size();
        @include text-background($tertiary-hover, $negative-white-15);
        @include svg-fill($tertiary-hover);
      }
      &:active {
        @include small-size();
        @include text-background($tertiary-main, $negative-white-5);
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $negative-white-20;
      }
      &:focus {
        outline: none;
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $negative-white-20;
      }
    }
  }
  &-ghost {
    @include small-size();
    @include svg-fill($primary-main);
    &:link,
    &:visited {
      @include small-size();
      @include ghost-styles();
    }
    &:hover {
      @include small-size();
      @include ghost-styles-hover();
      @include svg-fill($primary-hover);
    }
    &:active {
      @include small-size();
      @include ghost-styles();
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $secondary-focus;
    }
    &:focus {
      outline: none;
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $secondary-focus;
    }
    &-dark {
      @include small-size();
      @include svg-fill($tertiary-main);
      &:link,
      &:visited {
        @include small-size();
        @include text-background($tertiary-main, $negative-white-0);
      }
      &:hover {
        @include small-size();
        @include text-background($tertiary-hover, $negative-white-5);
        @include svg-fill($tertiary-hover);
      }
      &:active {
        @include small-size();
        @include text-background($tertiary-main, $negative-white-0);
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $negative-white-20;
      }
      &:focus {
        outline: none;
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $negative-white-20;
      }
    }
  }
  &-outline {
    @include small-size();
    @include svg-fill($primary-main);
    &:link,
    &:visited {
      @include small-size();
      @include ghost-styles();
      @include outline-styles();
    }
    &:hover {
      @include small-size();
      @include secondary-styles-hover();
      @include outline-styles-hover();
      @include svg-fill($primary-hover);
    }
    &:active {
      @include small-size();
      @include ghost-styles();
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $secondary-focus;
    }
    &:focus {
      outline: none;
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $secondary-focus;
    }
    &-dark {
      @include small-size();
      @include svg-fill($tertiary-main);
      &:link,
      &:visited {
        @include small-size();
        @include text-background($tertiary-main, $negative-white-0);
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-2 $tertiary-main;
      }
      &:hover {
        @include small-size();
        @include text-background($tertiary-hover, $negative-white-5);
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-2 $tertiary-hover;
        @include svg-fill($tertiary-hover);
      }
      &:active {
        @include small-size();
        @include text-background($tertiary-main, $negative-white-0);
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $negative-white-20;
      }
      &:focus {
        outline: none;
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $negative-white-20;
      }
    }
  }
}

.mini {
  &-primary {
    @include mini-size();
    @include svg-fill($negative-white);
    &:link,
    &:visited {
      @include mini-size();
      @include primary-styles();
    }
    &:hover {
      @include mini-size();
      @include primary-styles-hover();
      @include svg-fill($grey-hover);
    }
    &:active {
      @include mini-size();
      @include primary-styles();
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $secondary-focus;
    }
    &:focus {
      outline: none;
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $secondary-focus;
    }
    &-dark {
      @include mini-size();
      @include svg-fill($negative-white);
      &:link,
      &:visited {
        @include mini-size();
        @include text-background($negative-white, $negative-white-25);
      }
      &:hover {
        @include mini-size();
        @include text-background($grey-highlight, $negative-white-15);
        @include svg-fill($grey-highlight);
      }
      &:active {
        @include mini-size();
        @include text-background($negative-white, $negative-white-25);
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $negative-white-20;
      }
      &:focus {
        outline: none;
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $negative-white-20;
      }
    }
  }
  &-secondary {
    @include mini-size();
    @include svg-fill($primary-main);
    &:link,
    &:visited {
      @include mini-size();
      @include secondary-styles();
    }
    &:hover {
      @include mini-size();
      @include secondary-styles-hover();
      @include svg-fill($primary-hover);
    }
    &:active {
      @include mini-size();
      @include secondary-styles();
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $secondary-focus;
    }
    &:focus {
      outline: none;
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $secondary-focus;
    }
    &-dark {
      @include mini-size();
      @include svg-fill($tertiary-main);
      &:link,
      &:visited {
        @include mini-size();
        @include text-background($tertiary-main, $negative-white-5);
      }
      &:hover {
        @include mini-size();
        @include text-background($tertiary-hover, $negative-white-15);
        @include svg-fill($tertiary-hover);
      }
      &:active {
        @include mini-size();
        @include text-background($tertiary-main, $negative-white-5);
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $negative-white-20;
      }
      &:focus {
        outline: none;
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $negative-white-20;
      }
    }
  }
  &-ghost {
    @include mini-size();
    @include svg-fill($primary-main);
    &:link,
    &:visited {
      @include mini-size();
      @include ghost-styles();
    }
    &:hover {
      @include mini-size();
      @include ghost-styles-hover();
      @include svg-fill($primary-hover);
    }
    &:active {
      @include mini-size();
      @include ghost-styles();
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $secondary-focus;
    }
    &:focus {
      outline: none;
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $secondary-focus;
    }
    &-dark {
      @include mini-size();
      @include svg-fill($tertiary-main);
      &:link,
      &:visited {
        @include mini-size();
        @include text-background($tertiary-main, $negative-white-0);
      }
      &:hover {
        @include mini-size();
        @include text-background($tertiary-hover, $negative-white-5);
        @include svg-fill($tertiary-hover);
      }
      &:active {
        @include mini-size();
        @include text-background($tertiary-main, $negative-white-0);
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $negative-white-20;
      }
      &:focus {
        outline: none;
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $negative-white-20;
      }
    }
  }
  &-outline {
    @include mini-size();
    @include svg-fill($primary-main);
    &:link,
    &:visited {
      @include mini-size();
      @include ghost-styles();
      @include outline-styles();
    }
    &:hover {
      @include mini-size();
      @include secondary-styles-hover();
      @include outline-styles-hover();
      @include svg-fill($primary-hover);
    }
    &:active {
      @include mini-size();
      @include ghost-styles();
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $secondary-focus;
    }
    &:focus {
      outline: none;
      box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $secondary-focus;
    }
    &-dark {
      @include mini-size();
      @include svg-fill($tertiary-main);
      &:link,
      &:visited {
        @include mini-size();
        @include text-background($tertiary-main, $negative-white-0);
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-2 $tertiary-main;
      }
      &:hover {
        @include mini-size();
        @include text-background($tertiary-hover, $negative-white-5);
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-2 $tertiary-hover;
        @include svg-fill($tertiary-hover);
      }
      &:active {
        @include mini-size();
        @include text-background($tertiary-main, $negative-white-0);
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $negative-white-20;
      }
      &:focus {
        outline: none;
        box-shadow: $pd-0 $pd-0 $pd-0 $pd-8 $negative-white-20;
      }
    }
  }
}
