a {
  text-align: center;
  font-family: $english;
  font-family: $arabic;
  text-decoration: none;
  font-style: normal;
  transition: background-color 0.1s ease-out;
  border: none;
  font-weight: $semi-bold;
  line-height: $pd-24;
}
.link {
  &-primary {
    &:link {
      color: $negative-white;
      background-color: $primary-main;
    }
    &:visited {
      color: $negative-white;
      background-color: $primary-main;
    }
    &:hover {
      background-color: $primary-hover;
    }
    &:active {
      color: $negative-white;
      background-color: $primary-main;
      border: $pd-8 solid $secondary-focus;
    }
    &-regular {
      font-size: $pd-18;
      padding: $pd-24;
      border-radius: $pd-28;
      &:focus {
        border: $pd-8 solid $secondary-focus;
        border-radius: $pd-36;
      }
    }
    &-small {
      font-size: $pd-16;
      padding: $pd-12;
      border-radius: $pd-18;
      &:focus {
        border: $pd-8 solid $secondary-focus;
        border-radius: $pd-24;
      }
    }
    &-mini {
      font-size: $pd-14;
      padding: $pd-4;
      border-radius: $pd-8;
      &:focus {
        border: $pd-8 solid $secondary-focus;
        border-radius: $pd-16;
      }
    }
  }
}
