$shadow-color-main: hsla(178, 35%, 30%, 0.08);
$shadow-color-hover: hsla(178, 35%, 20%, 0.16);

$shadow-main-all: 0px 0px 48px 2px $shadow-color-main;
$shadow-main-top: 0px -24px 48px 0px $shadow-color-main;
$shadow-main-right: 0px 0px 48px 2px $shadow-color-main;
$shadow-main-bottom: 0px 24px 48px 0px $shadow-color-main;
$shadow-main-left: -24px 0px 48px 0px $shadow-color-main;

$shadow-hover-all: 0px 0px 44px 2px $shadow-color-hover;
$shadow-hover-top: 0px -20px 44px 0px $shadow-color-hover;
$shadow-hover-right: 20px 0px 44px 0px $shadow-color-hover;
$shadow-hover-bottom: 0px 20px 44px 0px $shadow-color-hover;
$shadow-hover-left: -20px 0px 44px 0px $shadow-color-hover;
