$shadow-main: hsla(178, 35%, 30%, 0.08);
$shadow-hover: hsla(178, 35%, 20%, 0.16);

$shadow-main-dark: hsla(178, 8%, 30%, 0.6);
$shadow-hover-dark: hsla(178, 8%, 20%, 0.8);

$shadow-main-all: 0px 0px 48px 2px $shadow-main;
$shadow-main-top: 0px -24px 48px 0px $shadow-main;
$shadow-main-right: 0px 0px 48px 2px $shadow-main;
$shadow-main-bottom: 0px 24px 48px 0px $shadow-main;
$shadow-main-left: -24px 0px 48px 0px $shadow-main;

$shadow-hover-all: 0px 0px 44px 2px $shadow-hover;
$shadow-hover-top: 0px -20px 44px 0px $shadow-hover;
$shadow-hover-right: 20px 0px 44px 0px $shadow-hover;
$shadow-hover-bottom: 0px 20px 44px 0px $shadow-hover;
$shadow-hover-left: -20px 0px 44px 0px $shadow-hover;

$shadow-main-all-dark: 0px 0px 48px 2px $shadow-main-dark;
$shadow-main-top-dark: 0px -24px 48px 0px $shadow-main-dark;
$shadow-main-right-dark: 0px 0px 48px 2px $shadow-main-dark;
$shadow-main-bottom-dark: 0px 24px 48px 0px $shadow-main-dark;
$shadow-main-left-dark: -24px 0px 48px 0px $shadow-main-dark;

$shadow-hover-all-dark: 0px 0px 44px 2px $shadow-hover-dark;
$shadow-hover-top-dark: 0px -20px 44px 0px $shadow-hover-dark;
$shadow-hover-right-dark: 20px 0px 44px 0px $shadow-hover-dark;
$shadow-hover-bottom-dark: 0px 20px 44px 0px $shadow-hover-dark;
$shadow-hover-left-dark: -20px 0px 44px 0px $shadow-hover-dark;
