$pd-0: 0;

$pd-4: 0.25rem;
$pd-4-negative: -0.25rem;

$pd-8: 0.5rem;
$pd-8-negative: -0.5rem;

$pd-12: 0.75rem;
$pd-12-negative: -0.75rem;

$pd-14: 0.875rem;
$pd-14-negative: -0.875rem;

$pd-16: 1rem;
$pd-16-negative: -1rem;

$pd-18: 1.125rem;
$pd-18-negative: -1.125rem;

$pd-20: 1.25rem;
$pd-20-negative: -1.25rem;

$pd-24: 1.5rem;
$pd-24-negative: -1.5rem;

$pd-28: 1.75rem;
$pd-28-negative: -1.75rem;

$pd-32: 2rem;
$pd-32-negative: -2rem;

$pd-36: 2.25rem;
$pd-36-negative: -2.25rem;

$pd-40: 2.5rem;
$pd-40-negative: -2.5rem;

$pd-44: 2.75rem;
$pd-44-negative: -2.75rem;

$pd-48: 3rem;
$pd-48-negative: -3rem;

$pd-60: 3.75rem;
$pd-60-negative: -3.75rem;

$pd-76: 4.75rem;
$pd-76-negative: -4.75rem;

$pd-96: 6rem;
$pd-96-negative: -6rem;

.margin {
  &-top {
    &-4 {
      margin-top: $pd-4;
    }
    &-8 {
      margin-top: $pd-8;
    }
    &-12 {
      margin-top: $pd-12;
    }
    &-16 {
      margin-top: $pd-16;
    }
    &-20 {
      margin-top: $pd-20;
    }
    &-24 {
      margin-top: $pd-24;
    }
    &-28 {
      margin-top: $pd-28;
    }
    &-32 {
      margin-top: $pd-32;
    }
    &-36 {
      margin-top: $pd-36;
    }
    &-40 {
      margin-top: $pd-40;
    }
    &-44 {
      margin-top: $pd-44;
    }
    &-48 {
      margin-top: $pd-48;
    }
  }
  &-right {
    &-4 {
      margin-right: $pd-4;
    }
    &-8 {
      margin-right: $pd-8;
    }
    &-12 {
      margin-right: $pd-12;
    }
    &-16 {
      margin-right: $pd-16;
    }
    &-20 {
      margin-right: $pd-20;
    }
    &-24 {
      margin-right: $pd-24;
    }
    &-28 {
      margin-right: $pd-28;
    }
    &-32 {
      margin-right: $pd-32;
    }
    &-36 {
      margin-right: $pd-36;
    }
    &-40 {
      margin-right: $pd-40;
    }
    &-44 {
      margin-right: $pd-44;
    }
    &-48 {
      margin-right: $pd-48;
    }
  }
  &-bottom {
    &-4 {
      margin-bottom: $pd-4;
    }
    &-8 {
      margin-bottom: $pd-8;
    }
    &-12 {
      margin-bottom: $pd-12;
    }
    &-16 {
      margin-bottom: $pd-16;
    }
    &-20 {
      margin-bottom: $pd-20;
    }
    &-24 {
      margin-bottom: $pd-24;
    }
    &-28 {
      margin-bottom: $pd-28;
    }
    &-32 {
      margin-bottom: $pd-32;
    }
    &-36 {
      margin-bottom: $pd-36;
    }
    &-40 {
      margin-bottom: $pd-40;
    }
    &-44 {
      margin-bottom: $pd-44;
    }
    &-48 {
      margin-bottom: $pd-48;
    }
  }
}
