$pd-0: 0;

$pd-025: 0.015625rem;
$pd-025-negative: -0.015625rem;

$pd-050: 0.03125rem;
$pd-050-negative: -0.03125rem;

$pd-075: 0.046875rem;
$pd-075-negative: -0.046875rem;

$pd-1: 0.0625rem;
$pd-1-negative: -0.0625rem;

$pd-2: 0.125rem;
$pd-2-negative: -0.125rem;

$pd-4: 0.25rem;
$pd-4-negative: -0.25rem;

$pd-8: 0.5rem;
$pd-8-negative: -0.5rem;

$pd-12: 0.75rem;
$pd-12-negative: -0.75rem;

$pd-14: 0.875rem;
$pd-14-negative: -0.875rem;

$pd-16: 1rem;
$pd-16-negative: -1rem;

$pd-18: 1.125rem;
$pd-18-negative: -1.125rem;

$pd-20: 1.25rem;
$pd-20-negative: -1.25rem;

$pd-24: 1.5rem;
$pd-24-negative: -1.5rem;

$pd-28: 1.75rem;
$pd-28-negative: -1.75rem;

$pd-32: 2rem;
$pd-32-negative: -2rem;

$pd-36: 2.25rem;
$pd-36-negative: -2.25rem;

$pd-40: 2.5rem;
$pd-40-negative: -2.5rem;

$pd-44: 2.75rem;
$pd-44-negative: -2.75rem;

$pd-48: 3rem;
$pd-48-negative: -3rem;

$pd-52: 3.25rem;
$pd-52-negative: -3.25rem;

$pd-56: 3.5rem;
$pd-56-negative: -3.5rem;

$pd-60: 3.75rem;
$pd-60-negative: -3.75rem;

$pd-64: 4rem;
$pd-64-negative: -4rem;

$pd-68: 4.25rem;
$pd-68-negative: -4.25rem;

$pd-72: 4.5rem;
$pd-72-negative: -4.5rem;

$pd-76: 4.75rem;
$pd-76-negative: -4.75rem;

$pd-80: 5rem;
$pd-80-negative: -5rem;

$pd-84: 5.25rem;
$pd-84-negative: -5.25rem;

$pd-88: 5.5rem;
$pd-88-negative: -5.5rem;

$pd-92: 5.75rem;
$pd-92-negative: -5.75rem;

$pd-96: 6rem;
$pd-96-negative: -6rem;

$pd-100: 6.25rem;
$pd-100-negative: -6.25rem;

$pd-104: 6.5rem;
$pd-104-negative: -6.5rem;

$pd-108: 6.75rem;
$pd-108-negative: -6.75rem;

$pd-112: 7rem;
$pd-112-negative: -7rem;

$pd-116: 7.25rem;
$pd-116-negative: -7.25rem;

$pd-120: 7.5rem;
$pd-120-negative: -7.5rem;
