$pd-0: 0;

$pd-4: 0.25rem;
$pd-4-negative: -0.25rem;

$pd-8: 0.5rem;
$pd-8-negative: -0.5rem;

$pd-12: 0.75rem;
$pd-12-negative: -0.75rem;

$pd-14: 0.875rem;
$pd-14-negative: -0.875rem;

$pd-16: 1rem;
$pd-16-negative: -1rem;

$pd-18: 1.125rem;
$pd-18-negative: -1.125rem;

$pd-20: 1.25rem;
$pd-20-negative: -1.25rem;

$pd-24: 1.5rem;
$pd-24-negative: -1.5rem;

$pd-32: 2rem;
$pd-32-negative: -2rem;

$pd-40: 2.5rem;
$pd-40-negative: -2.5rem;

$pd-48: 3rem;
$pd-48-negative: -3rem;

$pd-60: 3.75rem;
$pd-60-negative: -3.75rem;

$pd-76: 4.75rem;
$pd-76-negative: -4.75rem;

$pd-96: 6rem;
$pd-96-negative: -6rem;
