@import "reset";
@import "spaces";
@import "colors";
@import "fonts";
@import "shadows";
@import "links";
@import "core";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: $pd-96 0;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $pd-24;
    margin-top: $pd-24;
    padding: $pd-24;
    &-dark {
      background-color: $secondary-background;
    }
  }
}
