@import "reset";
@import "spaces";
@import "colors";
@import "./typography/base";
@import "shadows";
@import "functions";
@import "foundation";
@import "./sizes/large";
@import "./sizes/regular";
@import "./sizes/small";
@import "./sizes/mini";
@import "./styles/primary";
@import "./styles/secondary";
@import "./styles/ghost";
@import "./styles/outline";
@import "variants";
@import "utilities";

@mixin container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: $pd-24;
  margin-top: $pd-24;
  padding: $pd-24;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: $pd-8;
  .container-dark {
    @include container();
    background-color: $secondary-background;
  }
  .container {
    @include container();
    background-color: $negative-white;
    &-type {
      flex-direction: column;
      align-items: flex-start;
    }
    &-arabic {
      flex-direction: column;
      align-items: flex-end;
    }
  }
}
