@import "../../../sass/spaces";
@import "../../../sass/colors";
@import "../../../sass/typography/tokens";

html {
  scroll-behavior: smooth;
}

// .container {
//   scroll-snap-type: y mandatory;
//   overflow-y: scroll;
//   height: 100vh;
// }

main {
  &:nth-child(2n) {
    background: $secondary-highlight;
  }
  display: grid;
  width: 100%;
  height: 100vh;
  place-items: center;
  scroll-snap-align: start;
  p {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
  }
}

.visible {
  position: fixed;
  z-index: 99;
  visibility: visible;
  bottom: $pd-24;
  right: $pd-24;
}

.hidden {
  position: fixed;
  bottom: $pd-24;
  right: $pd-24;
  z-index: -99;
  visibility: hidden;
}

.inactive {
  box-shadow: none;
}
