@import "../../../sass/spaces";
@import "../../../sass/colors";
@import "../../../sass/typography/tokens";

@mixin center($custom-width) {
  display: flex;
  align-items: center;
  width: $custom-width;
  justify-content: center;
}

body {
  @include center(100%);
  min-height: 100vh;
  padding: $pd-24;
}

main {
  padding: $pd-48;
  border-radius: $pd-16;
  width: 720px;
  header {
    display: flex;
    div {
      &:first-child {
        padding-right: $pd-24;
        img {
          object-fit: contain;
        }
      }
    }
  }
  section {
    display: flex;
    gap: $pd-24;
    align-items: flex-start;
    article {
      width: 100%;
      p {
        display: flex;
        justify-content: space-between;
        strong {
          width: 100%;
        }
      }
    }
  }
}
