.padding {
  &-top {
    &-0 {
      padding-top: $pd-0;
    }
    &-4 {
      padding-top: $pd-4;
    }
    &-8 {
      padding-top: $pd-8;
    }
    &-12 {
      padding-top: $pd-12;
    }
    &-16 {
      padding-top: $pd-16;
    }
    &-20 {
      padding-top: $pd-20;
    }
    &-24 {
      padding-top: $pd-24;
    }
    &-28 {
      padding-top: $pd-28;
    }
    &-32 {
      padding-top: $pd-32;
    }
    &-36 {
      padding-top: $pd-36;
    }
    &-40 {
      padding-top: $pd-40;
    }
    &-44 {
      padding-top: $pd-44;
    }
    &-48 {
      padding-top: $pd-48;
    }
    &-52 {
      padding-top: $pd-52;
    }
    &-56 {
      padding-top: $pd-56;
    }
    &-60 {
      padding-top: $pd-60;
    }
    &-64 {
      padding-top: $pd-64;
    }
    &-68 {
      padding-top: $pd-68;
    }
    &-72 {
      padding-top: $pd-72;
    }
    &-76 {
      padding-top: $pd-76;
    }
    &-80 {
      padding-top: $pd-80;
    }
    &-84 {
      padding-top: $pd-84;
    }
    &-88 {
      padding-top: $pd-88;
    }
    &-92 {
      padding-top: $pd-92;
    }
    &-96 {
      padding-top: $pd-96;
    }
    &-100 {
      padding-top: $pd-100;
    }
    &-104 {
      padding-top: $pd-104;
    }
    &-108 {
      padding-top: $pd-108;
    }
    &-112 {
      padding-top: $pd-112;
    }
    &-116 {
      padding-top: $pd-116;
    }
    &-120 {
      padding-top: $pd-120;
    }
  }
  &-right {
    &-0 {
      padding-right: $pd-0;
    }
    &-4 {
      padding-right: $pd-4;
    }
    &-8 {
      padding-right: $pd-8;
    }
    &-12 {
      padding-right: $pd-12;
    }
    &-16 {
      padding-right: $pd-16;
    }
    &-20 {
      padding-right: $pd-20;
    }
    &-24 {
      padding-right: $pd-24;
    }
    &-28 {
      padding-right: $pd-28;
    }
    &-32 {
      padding-right: $pd-32;
    }
    &-36 {
      padding-right: $pd-36;
    }
    &-40 {
      padding-right: $pd-40;
    }
    &-44 {
      padding-right: $pd-44;
    }
    &-48 {
      padding-right: $pd-48;
    }
    &-52 {
      padding-right: $pd-52;
    }
    &-56 {
      padding-right: $pd-56;
    }
    &-60 {
      padding-right: $pd-60;
    }
    &-64 {
      padding-right: $pd-64;
    }
    &-68 {
      padding-right: $pd-68;
    }
    &-72 {
      padding-right: $pd-72;
    }
    &-76 {
      padding-right: $pd-76;
    }
    &-80 {
      padding-right: $pd-80;
    }
    &-84 {
      padding-right: $pd-84;
    }
    &-88 {
      padding-right: $pd-88;
    }
    &-92 {
      padding-right: $pd-92;
    }
    &-96 {
      padding-right: $pd-96;
    }
    &-100 {
      padding-right: $pd-100;
    }
    &-104 {
      padding-right: $pd-104;
    }
    &-108 {
      padding-right: $pd-108;
    }
    &-112 {
      padding-right: $pd-112;
    }
    &-116 {
      padding-right: $pd-116;
    }
    &-120 {
      padding-right: $pd-120;
    }
  }
  &-bottom {
    &-0 {
      padding-bottom: $pd-0;
    }
    &-4 {
      padding-bottom: $pd-4;
    }
    &-8 {
      padding-bottom: $pd-8;
    }
    &-12 {
      padding-bottom: $pd-12;
    }
    &-16 {
      padding-bottom: $pd-16;
    }
    &-20 {
      padding-bottom: $pd-20;
    }
    &-24 {
      padding-bottom: $pd-24;
    }
    &-28 {
      padding-bottom: $pd-28;
    }
    &-32 {
      padding-bottom: $pd-32;
    }
    &-36 {
      padding-bottom: $pd-36;
    }
    &-40 {
      padding-bottom: $pd-40;
    }
    &-44 {
      padding-bottom: $pd-44;
    }
    &-48 {
      padding-bottom: $pd-48;
    }
    &-52 {
      padding-bottom: $pd-52;
    }
    &-56 {
      padding-bottom: $pd-56;
    }
    &-60 {
      padding-bottom: $pd-60;
    }
    &-64 {
      padding-bottom: $pd-64;
    }
    &-68 {
      padding-bottom: $pd-68;
    }
    &-72 {
      padding-bottom: $pd-72;
    }
    &-76 {
      padding-bottom: $pd-76;
    }
    &-80 {
      padding-bottom: $pd-80;
    }
    &-84 {
      padding-bottom: $pd-84;
    }
    &-88 {
      padding-bottom: $pd-88;
    }
    &-92 {
      padding-bottom: $pd-92;
    }
    &-96 {
      padding-bottom: $pd-96;
    }
    &-100 {
      padding-bottom: $pd-100;
    }
    &-104 {
      padding-bottom: $pd-104;
    }
    &-108 {
      padding-bottom: $pd-108;
    }
    &-112 {
      padding-bottom: $pd-112;
    }
    &-116 {
      padding-bottom: $pd-116;
    }
    &-120 {
      padding-bottom: $pd-120;
    }
  }
  &-left {
    &-0 {
      padding-left: $pd-0;
    }
    &-4 {
      padding-left: $pd-4;
    }
    &-8 {
      padding-left: $pd-8;
    }
    &-12 {
      padding-left: $pd-12;
    }
    &-16 {
      padding-left: $pd-16;
    }
    &-20 {
      padding-left: $pd-20;
    }
    &-24 {
      padding-left: $pd-24;
    }
    &-28 {
      padding-left: $pd-28;
    }
    &-32 {
      padding-left: $pd-32;
    }
    &-36 {
      padding-left: $pd-36;
    }
    &-40 {
      padding-left: $pd-40;
    }
    &-44 {
      padding-left: $pd-44;
    }
    &-48 {
      padding-left: $pd-48;
    }
    &-52 {
      padding-left: $pd-52;
    }
    &-56 {
      padding-left: $pd-56;
    }
    &-60 {
      padding-left: $pd-60;
    }
    &-64 {
      padding-left: $pd-64;
    }
    &-68 {
      padding-left: $pd-68;
    }
    &-72 {
      padding-left: $pd-72;
    }
    &-76 {
      padding-left: $pd-76;
    }
    &-80 {
      padding-left: $pd-80;
    }
    &-84 {
      padding-left: $pd-84;
    }
    &-88 {
      padding-left: $pd-88;
    }
    &-92 {
      padding-left: $pd-92;
    }
    &-96 {
      padding-left: $pd-96;
    }
    &-100 {
      padding-left: $pd-100;
    }
    &-104 {
      padding-left: $pd-104;
    }
    &-108 {
      padding-left: $pd-108;
    }
    &-112 {
      padding-left: $pd-112;
    }
    &-116 {
      padding-left: $pd-116;
    }
    &-120 {
      padding-left: $pd-120;
    }
  }
}
