// Font family

.persian,
.arabic {
  @include arabic-font-properties();
}

// Text color
.headline,
.lead,
.title {
  &-persian,
  &-arabic {
    @include arabic-font-properties();
    color: $content-heading;
    &-dark {
      @include arabic-font-properties();
      color: $content-heading-dark;
    }
  }
}

// Text weight thick
.headline {
  &-persian,
  &-arabic {
    font-weight: $thick;
  }
}

h1.arabic,
h1.persian,
h3.arabic,
h3.persian,
h5.arabic,
h5.persian {
  font-weight: $thick;
  color: $content-heading;
  &-dark {
    @include arabic-font-properties();
    color: $content-heading-dark;
  }
}

// Text weight regular
h2.arabic,
h2.persian,
h4.arabic,
h4.persian {
  font-weight: $regular;
  color: $content-text;
  &-dark {
    @include arabic-font-properties();
    color: $content-text-dark;
  }
}

// Text weight medium
h6.arabic,
h6.persian,
p.arabic,
p.persian,
small.arabic,
small.persian,
li.arabic,
li.persian {
  font-weight: $medium;
  color: $content-text;
  &-dark {
    @include arabic-font-properties();
    color: $content-text-dark;
  }
}

// Text weight light
.lead {
  &-persian,
  &-arabic {
    font-weight: $light;
  }
}

// Text weight semi bold
.title {
  &-persian,
  &-arabic {
    font-weight: $semi-bold;
  }
}
