// Font family
.headline,
.lead,
.title {
  &-persian,
  &-arabic {
    font-family: $arabic;
    text-align: right;
    direction: rtl;
  }
}

.persian,
.arabic {
  font-family: $arabic;
  text-align: right;
  direction: rtl;
}

// Text color
.headline,
.lead,
.title {
  &-persian,
  &-arabic {
    color: $content-heading;
  }
}

// Text weight thick
.headline {
  &-persian,
  &-arabic {
    font-weight: $thick;
  }
}

h1.arabic,
h1.persian,
h3.arabic,
h3.persian,
h5.arabic,
h5.persian {
  font-weight: $thick;
}

// Text weight regular
h2.arabic,
h2.persian,
h4.arabic,
h4.persian {
  font-weight: $regular;
}

// Text weight medium
h6.arabic,
h6.persian,
p.arabic,
p.persian,
small.arabic,
small.persian,
li.arabic,
li.persian {
  font-weight: $medium;
}

// Text weight light
.lead {
  &-persian,
  &-arabic {
    font-weight: $light;
  }
}

// Text weight semi bold
.title {
  &-persian,
  &-arabic {
    font-weight: $semi-bold;
  }
}
