// Width and character limit for all classes
.headline,
.lead,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.title,
.body,
.caption {
  &-english,
  &-arabic,
  &-persian {
    max-width: 100%;
    width: 90ch;
    &-dark {
      max-width: 100%;
      width: 90ch;
    }
  }

  // Wriring directions
  &-english {
    font-family: $english;
    text-align: left;
    direction: ltr;
    &-dark {
      font-family: $english;
      text-align: left;
      direction: ltr;
    }
  }

  // Writing directions
  &-arabic,
  &-persian {
    font-family: $arabic;
    text-align: right;
    direction: rtl;
    &-dark {
      font-family: $arabic;
      text-align: right;
      direction: rtl;
    }
  }
}

// Font color
.headline,
.h1,
.h3,
.h5,
.title {
  @include font-color-all($content-heading);
  @include font-color-all-dark($content-heading-dark);
}

// Font color
.lead,
.h2,
.h4,
.h6,
.body,
.caption {
  @include font-color-all($content-text);
  @include font-color-all-dark($content-text-dark);
}

// Font weight
.headline,
.h1,
.h3,
.h5 {
  @include font-weight-all($thick);
  @include font-weight-all-dark($thick);
}

// Font weight
.lead {
  @include font-weight-all($light);
  @include font-weight-all-dark($light);
}

// Font weight
.h2,
.h4 {
  @include font-weight-all($regular);
  @include font-weight-all-dark($regular);
}

// Font weight
.title {
  @include font-weight-all($semi-bold);
  @include font-weight-all-dark($semi-bold);
}

// Font weight
.h6,
.body,
.caption {
  @include font-weight-all($medium);
  @include font-weight-all-dark($medium);
}
