@mixin body-english {
  line-height: $pd-44;
  letter-spacing: $pd-025;
  word-spacing: $pd-2;
}

.body {
  @include font-size-all($body);

  &-english {
    @include body-english();
    &-dark {
      @include body-english();
    }
  }

  &-arabic,
  &-persian {
    letter-spacing: $pd-0;
    &-dark {
      letter-spacing: $pd-0;
    }
  }

  // Line height
  &-arabic {
    @include font-height($pd-52);
    @include word-spacing($pd-8);
  }

  &-persian {
    @include font-height($pd-56);
    @include word-spacing($pd-4);
  }
}
