small,
li {
  font-size: $caption;
  line-height: $pd-32;
  letter-spacing: $pd-1;
  word-spacing: $pd-4;
}

small.persian,
small.arabic {
  font-size: $caption;
  letter-spacing: $pd-0;
  word-spacing: $pd-4;
}

small.persian,
li.persian {
  line-height: $pd-40;
  word-spacing: $pd-4;
}

small.arabic,
li.arabic {
  line-height: $pd-48;
  word-spacing: $pd-8;
}
