// English font family
.headline,
.lead,
h1,
h2,
h3,
h4,
h5,
h6,
.title,
ul,
ol,
li,
p,
small {
  font-family: $english;
  text-align: left;
  width: 90ch;
  max-width: 100%;
}

// Text color
.headline,
.lead,
h1,
h3,
h5,
.title,
ul,
ol {
  color: $content-heading;
}

h2,
h4,
h6,
li,
p,
small {
  color: $content-text;
}

// Text weight
.headline,
h1,
h3,
h5 {
  font-weight: $thick;
}

.lead {
  font-weight: $light;
}

h2,
h4 {
  font-weight: $regular;
}

.title {
  font-weight: $semi-bold;
}

h6,
p,
small,
li {
  font-weight: $medium;
}
