// font properties for arabic
@mixin arabic-font-properties {
  font-family: $arabic;
  text-align: right;
  direction: rtl;
}

// font size for all languages
@mixin font-size-all($font-size-all) {
  &-english,
  &-arabic,
  &-persian {
    font-size: $font-size-all;
  }
}

// font weight for all languages
@mixin font-weight-all($font-weight-all) {
  &-english,
  &-arabic,
  &-persian {
    font-weight: $font-weight-all;
  }
}

// font weight for dark classes in all languages
@mixin font-weight-all-dark($font-weight-all-dark) {
  &-english,
  &-arabic,
  &-persian {
    &-dark {
      font-weight: $font-weight-all-dark;
    }
  }
}

// font color for all languages
@mixin font-color-all($font-color-all) {
  &-english,
  &-arabic,
  &-persian {
    color: $font-color-all;
  }
}

// font color for dark classes in all languages
@mixin font-color-all-dark($font-color-all-dark) {
  &-english,
  &-arabic,
  &-persian {
    &-dark {
      color: $font-color-all-dark;
    }
  }
}
