// font properties for arabic
@mixin arabic-font-properties {
  font-family: $arabic;
  text-align: right;
  direction: rtl;
}

@mixin font-size-all($font-size-all) {
  &-english,
  &-arabic,
  &-persian {
    font-size: $font-size-all;
  }
}

@mixin font-color-all($font-color-all) {
  &-english,
  &-arabic,
  &-persian {
    color: $font-color-all;
  }
}

@mixin font-color-all-dark($font-color-all-dark) {
  &-english,
  &-arabic,
  &-persian {
    &-dark {
      color: $font-color-all-dark;
    }
  }
}

.headline,
.lead,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.title,
.p,
.caption {
  &-english,
  &-arabic,
  &-persian {
    width: 90ch;
    max-width: 100%;
  }

  &-english {
    font-family: $english;
    text-align: left;
    direction: ltr;
  }

  &-arabic,
  &-persian {
    font-family: $arabic;
    text-align: right;
    direction: rtl;
  }
}

.headline,
.h1,
.h3,
.h5,
.title {
  @include font-color-all($content-heading);
  @include font-color-all-dark($content-heading-dark);
}

.lead,
.h2,
.h4,
.h6,
.p,
.caption {
  @include font-color-all($content-text);
  @include font-color-all-dark($content-text-dark);
}
