.h1 {
  @include font-size-all($h1);

  &-english {
    line-height: $pd-72;
    letter-spacing: $pd-050-negative;
    word-spacing: $pd-025;
  }

  &-arabic,
  &-persian {
    letter-spacing: $pd-0;
    word-spacing: $pd-1;
  }

  // Line height
  &-arabic {
    line-height: $pd-136;
  }

  &-persian {
    line-height: $pd-96;
  }
}
