@mixin h2-english {
  line-height: $pd-56;
  letter-spacing: $pd-025-negative;
  word-spacing: $pd-050;
}

@mixin h2-arabic-persian {
  letter-spacing: $pd-0;
  word-spacing: $pd-1;
}

.h2 {
  @include font-size-all($h2);

  &-english {
    @include h2-english();
    &-dark {
      @include h2-english();
    }
  }

  &-arabic,
  &-persian {
    @include h2-arabic-persian();
    &-dark {
      @include h2-arabic-persian();
    }
  }

  // Line height
  &-arabic {
    @include font-height($pd-112);
  }

  &-persian {
    @include font-height($pd-72);
  }
}
