h2 {
  font-size: $h2;
  line-height: $pd-56;
  letter-spacing: $pd-025-negative;
  word-spacing: $pd-050;
}

h2.persian,
h2.arabic {
  font-size: $h2;
  letter-spacing: $pd-0;
  word-spacing: $pd-1;
}

h2.persian {
  line-height: $pd-64;
}

h2.arabic {
  line-height: $pd-112;
}
