h3 {
  font-size: $h3;
  line-height: $pd-52;
  letter-spacing: $pd-025-negative;
  word-spacing: $pd-050;
  .persian,
  .arabic {
    font-size: $h3;
    letter-spacing: $pd-0;
    word-spacing: $pd-1;
  }
  .persian {
    line-height: $pd-56;
  }
  .arabic {
    line-height: $pd-56;
  }
}
