h4 {
  font-size: $h4;
  line-height: $pd-48;
  letter-spacing: $pd-025-negative;
  word-spacing: $pd-075;
  .persian,
  .arabic {
    font-size: $h4;
    letter-spacing: $pd-0;
    word-spacing: $pd-1;
  }
  .persian {
    line-height: $pd-52;
  }
  .arabic {
    line-height: $pd-52;
  }
}
