h5 {
  font-size: $h5;
  line-height: $pd-32;
  letter-spacing: $pd-0;
  word-spacing: $pd-025;
}

h5.persian,
h5.arabic {
  font-size: $h5;
  letter-spacing: $pd-0;
  word-spacing: $pd-1;
}

h5.persian {
  line-height: $pd-36;
}

h5.arabic {
  line-height: $pd-36;
}
