.h5 {
  @include font-size-all($h5);

  &-english {
    line-height: $pd-36;
    letter-spacing: $pd-0;
    word-spacing: $pd-025;
  }

  &-arabic,
  &-persian {
    letter-spacing: $pd-0;
  }

  // Line height
  &-arabic {
    line-height: $pd-68;
    word-spacing: $pd-2;
  }

  &-persian {
    line-height: $pd-48;
    word-spacing: $pd-1;
  }
}
