.h6 {
  @include font-size-all($h6);

  &-english {
    line-height: $pd-40;
    letter-spacing: $pd-025;
    word-spacing: $pd-050;
  }

  &-arabic,
  &-persian {
    letter-spacing: $pd-0;
  }

  // Line height
  &-arabic {
    line-height: $pd-60;
    word-spacing: $pd-4;
  }

  &-persian {
    line-height: $pd-52;
    word-spacing: $pd-1;
  }
}
