@mixin headline-english {
  line-height: $pd-100;
  letter-spacing: $pd-1-negative;
  word-spacing: $pd-4;
}

@mixin headline-arabic-persian {
  letter-spacing: $pd-0;
  word-spacing: $pd-4;
}

.headline {
  @include font-size-all($headline);

  &-english {
    @include headline-english();
    &-dark {
      @include headline-english();
    }
  }

  &-arabic,
  &-persian {
    @include headline-arabic-persian();
    &-dark {
      @include headline-arabic-persian();
    }
  }

  // Line height
  &-arabic {
    line-height: 204px;
  }

  &-persian {
    line-height: $pd-120;
  }
}
