.lead {
  font-size: $lead;
  font-weight: $light;
  line-height: $pd-92;
  letter-spacing: $pd-075-negative;
  word-spacing: $pd-050;
  &-persian,
  &-arabic {
    font-size: $lead;
    font-weight: $light;
    letter-spacing: $pd-0;
    word-spacing: $pd-0;
  }
  &-persian {
    line-height: $pd-100;
  }
  &-arabic {
    line-height: $pd-100;
  }
}
