// Font family
.headline,
.lead,
h1,
h2,
h3,
h4,
h5,
h6,
.title,
p,
small {
  font-family: $english;
  text-align: left;
}

// Text color and weight
.headline h1,
h3,
h5 {
  font-weight: $thick;
  color: $content-heading;
}

// Text color
.lead,
h2,
h4,
h6,
p,
small {
  color: $content-text;
}

// Text weight
h2,
h4 {
  font-weight: $regular;
}

// Text weight
h6,
p,
small {
  font-weight: $medium;
}
