.title {
  @include font-size-all($title);

  &-english {
    line-height: $pd-44;
    letter-spacing: $pd-025;
    word-spacing: $pd-1;
  }

  &-arabic,
  &-persian {
    letter-spacing: $pd-0;
  }

  // Line height
  &-arabic {
    line-height: $pd-48;
    word-spacing: $pd-4;
  }

  &-persian {
    line-height: $pd-44;
    word-spacing: $pd-2;
  }
}
