@import "../../../sass/spaces";
@import "../../../sass/colors";
@import "../../../sass/typography/tokens";

@mixin center($custom-width) {
  display: flex;
  align-items: center;
  width: $custom-width;
  justify-content: center;
}

body {
  @include center(100%);
  padding: $pd-96 0;
}

main {
  section {
    margin-bottom: $pd-24;
    transition: all 300ms ease-in-out;
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.inactive {
  padding: $pd-24;
  border-radius: $pd-24;
  transition: all 300ms ease-in-out;
}

.active {
  padding: $pd-48;
  border-radius: $pd-32;
  transition: all 300ms ease-in-out;
}

.hidden {
  display: none;
}

.visibile {
  display: block;
}

.rotate {
  svg {
    transform: rotate(180deg);
  }
}
