@import "../../../sass/spaces";
@import "../../../sass/colors";
@import "../../../sass/typography/tokens";

body {
  padding: $pd-120;
}

main {
  padding: $pd-48;
  border-radius: $pd-24;
  form {
    display: flex;
    justify-content: space-between;
    button {
      width: 25%;
    }
    input {
      width: 75%;
    }
  }
  section {
    article {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.button-wrapper {
  display: flex;
  gap: $pd-16;
}

.alert {
  &-success,
  &-delete {
    position: fixed;
    top: 48px;
    padding: $pd-24;
    border-radius: $pd-24;
    display: flex;
    align-items: center;
    animation: slide 200ms ease-out 2s 1 normal forwards;
  }
  &-success {
    background-color: $success-background;
    p {
      color: $success-text;
    }
    svg path {
      fill: $success-text;
    }
  }
  &-delete {
    background-color: $error-background;
    p {
      color: $error-text;
    }
    svg path {
      fill: $error-text;
    }
  }
}

@keyframes slide {
  from {
    top: 48px;
    opacity: 1;
  }
  to {
    top: -48px;
    opacity: 0;
  }
}
