$shadow-dark-all: 0px 0px 48px 2px hsla(268, 8%, 20%, 0.7);
$shadow-dark-top: 0px -24px 48px 0px hsla(268, 8%, 20%, 0.7);
$shadow-dark-right: 0px 0px 48px 2px hsla(268, 8%, 20%, 0.7);
$shadow-dark-bottom: 0px 24px 48px 0px hsla(268, 8%, 20%, 0.7);
$shadow-dark-left: -24px 0px 48px 0px hsla(268, 8%, 20%, 0.7);

$shadow-dark-hover-all: 0px 0px 44px 2px hsla(268, 8%, 20%, 1);
$shadow-dark-hover-top: 0px -20px 44px 0px hsla(268, 8%, 20%, 1);
$shadow-dark-hover-right: 20px 0px 44px 0px hsla(268, 8%, 20%, 1);
$shadow-dark-hover-bottom: 0px 20px 44px 0px hsla(268, 8%, 20%, 1);
$shadow-dark-hover-left: -20px 0px 44px 0px hsla(268, 8%, 20%, 1);
