$shadow-main-dark: hsla(178, 8%, 30%, 0.6);
$shadow-hover-dark: hsla(178, 8%, 20%, 0.8);

$shadow-main-all-dark: 0px 0px 48px 2px $shadow-main-dark;
$shadow-main-top-dark: 0px -24px 48px 0px $shadow-main-dark;
$shadow-main-right-dark: 0px 0px 48px 2px $shadow-main-dark;
$shadow-main-bottom-dark: 0px 24px 48px 0px $shadow-main-dark;
$shadow-main-left-dark: -24px 0px 48px 0px $shadow-main-dark;

$shadow-hover-all-dark: 0px 0px 44px 2px $shadow-hover-dark;
$shadow-hover-top-dark: 0px -20px 44px 0px $shadow-hover-dark;
$shadow-hover-right-dark: 20px 0px 44px 0px $shadow-hover-dark;
$shadow-hover-bottom-dark: 0px 20px 44px 0px $shadow-hover-dark;
$shadow-hover-left-dark: -20px 0px 44px 0px $shadow-hover-dark;
