$shadow-dark-all: 0px 0px 48px 2px hsla(178, 8%, 30%, 0.6);
$shadow-dark-top: 0px -24px 48px 0px hsla(178, 8%, 30%, 0.6);
$shadow-dark-right: 0px 0px 48px 2px hsla(178, 8%, 30%, 0.6);
$shadow-dark-bottom: 0px 24px 48px 0px hsla(178, 8%, 30%, 0.6);
$shadow-dark-left: -24px 0px 48px 0px hsla(178, 8%, 30%, 0.6);

$shadow-dark-hover-all: 0px 0px 44px 2px hsla(178, 8%, 20%, 0.8);
$shadow-dark-hover-top: 0px -20px 44px 0px hsla(178, 8%, 20%, 0.8);
$shadow-dark-hover-right: 20px 0px 44px 0px hsla(178, 8%, 20%, 0.8);
$shadow-dark-hover-bottom: 0px 20px 44px 0px hsla(178, 8%, 20%, 0.8);
$shadow-dark-hover-left: -20px 0px 44px 0px hsla(178, 8%, 20%, 0.8);

.shadow {
  &-dark {
    @include shadow-base($shadow-dark-all);
    @include shadow-base-hover($shadow-dark-hover-all);
    &-top {
      @include shadow-base($shadow-dark-top);
      @include shadow-base-hover($shadow-dark-hover-top);
    }
    &-right {
      @include shadow-base($shadow-dark-right);
      @include shadow-base-hover($shadow-dark-hover-right);
    }
    &-bottom {
      @include shadow-base($shadow-dark-bottom);
      @include shadow-base-hover($shadow-dark-hover-bottom);
    }
    &-left {
      @include shadow-base($shadow-dark-left);
      @include shadow-base-hover($shadow-dark-hover-left);
    }
  }
}
