$shadow-light-all: 0px 0px 48px 2px hsla(268, 35%, 30%, 0.08);
$shadow-light-top: 0px -24px 48px 0px hsla(268, 35%, 30%, 0.08);
$shadow-light-right: 0px 0px 48px 2px hsla(268, 35%, 30%, 0.08);
$shadow-light-bottom: 0px 24px 48px 0px hsla(268, 35%, 30%, 0.08);
$shadow-light-left: -24px 0px 48px 0px hsla(268, 35%, 30%, 0.08);

$shadow-light-hover-all: 0px 0px 44px 2px hsla(268, 35%, 20%, 0.16);
$shadow-light-hover-top: 0px -20px 44px 0px hsla(268, 35%, 20%, 0.16);
$shadow-light-hover-right: 20px 0px 44px 0px hsla(268, 35%, 20%, 0.16);
$shadow-light-hover-bottom: 0px 20px 44px 0px hsla(268, 35%, 20%, 0.16);
$shadow-light-hover-left: -20px 0px 44px 0px hsla(268, 35%, 20%, 0.16);
