@mixin animation-icon($animation-name-icon) {
  animation: $animation-name-icon 100ms ease-out 0s 1 normal forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.slide-down {
  @include animation-icon(slide-down);
}

.slide-up {
  @include animation-icon(slide-up);
}
