.toggle {
  display: none;
}

@media screen and (max-width: 960px) {
  nav {
    section {
      position: fixed;
      top: 144px;
      left: 0;
      width: 100%;
      z-index: 99;
      display: flex;
      flex-direction: column;
      padding: $pd-48;
      background-color: $negative-white;
      border-radius: 0px 0px 48px 48px;
      box-shadow: 0px 24px 48px rgba(102, 102, 102, 0.16);
      transform: translateY(-200%);
      opacity: 0;
      a {
        margin-left: 0;
        margin-top: $pd-16;
      }
    }
  }
  .toggle {
    display: block;
  }
}
