nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: $pd-48;
  display: flex;
  justify-content: space-between;
  background-color: $negative-white;
  section {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    a {
      margin-left: $pd-16;
      svg {
        margin-right: $pd-8;
      }
    }
  }
}
