@import "../../../sass/spaces";
@import "../../../sass/colors";
@import "../../../sass/typography/tokens";

nav {
  padding: $pd-48;
  display: flex;
  justify-content: space-between;
  section {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    a {
      margin-left: $pd-16;
      svg {
        margin-right: $pd-8;
      }
    }
  }
}

.toggle {
  display: none;
}
