@import "../../../sass/spaces";
@import "../../../sass/colors";
@import "../../../sass/typography/tokens";

@mixin center($custom-width) {
  display: flex;
  align-items: center;
  width: $custom-width;
  justify-content: center;
}

body {
  @include center(100%);
  min-height: 100vh;
  padding: $pd-24;
}

main {
  border-radius: $pd-16 $pd-16 0 0 ;
  width: 80%;

  header {
    padding: $pd-48;
    display: flex;
    align-items: center;

    div {
      display: flex;
      gap: $pd-24;

      input {
        text-align: center;
        width: 176px;
      }
    }
  }

  footer {
    position: relative;
    div {
      width: 100%;
      height: $pd-8;
      position: absolute;

      &:first-child {
        background-color: $primary-main;
        z-index: 1;
      }

      &:last-child {
        background-color: $secondary-focus;
      }
    }
  }
}