@mixin ghost-styles {
  color: $primary-main;
  background-color: $negative-white-0;
  @include svg-fill($primary-main);
}

@mixin ghost-styles-hover {
  color: $primary-hover;
  background-color: $secondary-highlight;
  @include svg-fill($primary-hover);
}

@mixin ghost-styles-dark {
  color: $tertiary-main;
  background-color: $negative-white-0;
  @include svg-fill($tertiary-main);
}

@mixin ghost-styles-hover-dark {
  color: $tertiary-hover;
  background-color: $negative-white-5;
  @include svg-fill($tertiary-hover);
}
