@mixin outline-styles {
  color: $primary-main;
  background-color: $negative-white-0;
  box-shadow: $pd-0 $pd-0 $pd-0 $pd-2 $primary-main;
  @include svg-fill($primary-main);
  @include placeholder-text-color($primary-main);
  &:link,
  &:visited {
    color: $primary-main;
    background-color: $negative-white-0;
    box-shadow: $pd-0 $pd-0 $pd-0 $pd-2 $primary-main;
  }
}

@mixin outline-styles-hover {
  &:hover {
    color: $primary-hover;
    background-color: $secondary-highlight;
    @include svg-fill($primary-hover);
    @include placeholder-text-color($primary-hover);
    box-shadow: $pd-0 $pd-0 $pd-0 $pd-2 $primary-hover;
  }
}

@mixin outline-styles-active {
  &:active,
  &:focus {
    color: $primary-main;
    background-color: $negative-white-0;
    outline: none;
    box-shadow: $pd-0 $pd-0 $pd-0 $pd-4 $secondary-focus;
  }
}

@mixin outline-styles-dark {
  color: $tertiary-main;
  background-color: $negative-white-0;
  box-shadow: $pd-0 $pd-0 $pd-0 $pd-2 $tertiary-main;
  @include svg-fill($tertiary-main);
  @include placeholder-text-color($tertiary-main);
  &:link,
  &:visited {
    color: $tertiary-main;
    background-color: $negative-white-0;
    box-shadow: $pd-0 $pd-0 $pd-0 $pd-2 $tertiary-main;
  }
}

@mixin outline-styles-hover-dark {
  &:hover {
    color: $tertiary-hover;
    background-color: $negative-white-5;
    @include svg-fill($tertiary-hover);
    @include placeholder-text-color($tertiary-hover);
    box-shadow: $pd-0 $pd-0 $pd-0 $pd-2 $tertiary-hover;
  }
}

@mixin outline-styles-active-dark {
  &:active,
  &:focus {
    color: $tertiary-main;
    background-color: $negative-white-0;
    outline: none;
    box-shadow: $pd-0 $pd-0 $pd-0 $pd-4 $tertiary-main;
  }
}
