@mixin primary-styles {
  color: $negative-white;
  background-color: $primary-main;
}

@mixin primary-styles-hover {
  color: $grey-hover;
  background-color: $primary-hover;
}

@mixin primary-styles-dark {
  color: $negative-white;
  background-color: $negative-white-25;
}

@mixin primary-styles-hover-dark {
  color: $grey-highlight;
  background-color: $negative-white-15;
}
