@mixin primary-styles {
  color: $negative-white;
  background-color: $primary-main;
  @include svg-fill($negative-white);
  @include placeholder-text-color($negative-white);
  &:link,
  &:visited {
    color: $negative-white;
    background-color: $primary-main;
  }
}

@mixin primary-styles-hover {
  &:hover {
    color: $grey-hover;
    background-color: $primary-hover;
    @include svg-fill($grey-hover);
    @include placeholder-text-color($grey-hover);
  }
}

@mixin primary-styles-active {
  &:active,
  &:focus {
    color: $negative-white;
    background-color: $primary-main;
    outline: none;
    box-shadow: $pd-0 $pd-0 $pd-0 $pd-4 $secondary-focus;
  }
}

@mixin primary-styles-dark {
  color: $negative-white;
  background-color: $negative-white-25;
  @include svg-fill($negative-white);
  @include placeholder-text-color($negative-white);
  &:link,
  &:visited {
    color: $negative-white;
    background-color: $negative-white-25;
  }
}

@mixin primary-styles-hover-dark {
  &:hover {
    color: $grey-highlight;
    background-color: $negative-white-15;
    @include svg-fill($grey-highlight);
    @include placeholder-text-color($grey-highlight);
  }
}

@mixin primary-styles-active-dark {
  &:active,
  &:focus {
    color: $negative-white;
    background-color: $negative-white-25;
    outline: none;
    box-shadow: $pd-0 $pd-0 $pd-0 $pd-4 $negative-white-20;
  }
}
