@mixin secondary-styles {
  color: $primary-main;
  background-color: $secondary-highlight;
  @include svg-fill($primary-main);
  &:link,
  &:visited {
    color: $primary-main;
    background-color: $secondary-highlight;
  }
}

@mixin secondary-styles-hover {
  &:hover {
    color: $primary-hover;
    background-color: $secondary-hover;
    @include svg-fill($primary-hover);
  }
}

@mixin secondary-styles-active {
  &:active,
  &:focus {
    color: $primary-main;
    background-color: $secondary-highlight;
    outline: none;
    box-shadow: $pd-0 $pd-0 $pd-0 $pd-4 $secondary-focus;
  }
}

@mixin secondary-styles-dark {
  color: $tertiary-main;
  background-color: $negative-white-5;
  &:link,
  &:visited {
    color: $tertiary-main;
    background-color: $negative-white-5;
  }
  @include svg-fill($tertiary-main);
}

@mixin secondary-styles-hover-dark {
  &:hover {
    color: $tertiary-hover;
    background-color: $negative-white-15;
    @include svg-fill($tertiary-hover);
  }
}

@mixin secondary-styles-active-dark {
  &:active,
  &:focus {
    color: $tertiary-main;
    background-color: $negative-white-5;
    outline: none;
    box-shadow: $pd-0 $pd-0 $pd-0 $pd-4 $negative-white-20;
  }
}
