@mixin secondary-styles {
  color: $primary-main;
  background-color: $secondary-highlight;
}

@mixin secondary-styles-hover {
  color: $primary-hover;
  background-color: $secondary-hover;
}

@mixin secondary-styles-dark {
  color: $tertiary-main;
  background-color: $negative-white-5;
}

@mixin secondary-styles-hover-dark {
  color: $tertiary-hover;
  background-color: $negative-white-15;
}
