@mixin large-size {
  font-size: $pd-20;
  padding-top: $pd-16;
  padding-right: $pd-24;
  padding-bottom: $pd-16;
  padding-left: $pd-24;
  border-top-left-radius: $pd-16;
  border-top-right-radius: $pd-16;
  border-bottom-right-radius: $pd-16;
  border-bottom-left-radius: $pd-16;
}

@mixin large-cta {
  font-size: $pd-20;
  text-decoration: none;
  font-style: normal;
  font-weight: $semi-bold;
  font-family: $english;
  line-height: $pd-24;
}
