@mixin mini-size {
  font-size: $pd-14;
  padding-top: $pd-4;
  padding-right: $pd-8;
  padding-bottom: $pd-4;
  padding-left: $pd-8;
  border-top-left-radius: $pd-8;
  border-top-right-radius: $pd-8;
  border-bottom-right-radius: $pd-8;
  border-bottom-left-radius: $pd-8;
}

@mixin mini-cta {
  font-size: $pd-14;
  text-decoration: none;
  font-style: normal;
  font-weight: $semi-bold;
  font-family: $english;
  line-height: $pd-24;
}
