@mixin regular-size {
  font-size: $pd-18;
  padding-top: $pd-24;
  padding-right: $pd-24;
  padding-bottom: $pd-24;
  padding-left: $pd-24;
  border-top-left-radius: $pd-28;
  border-top-right-radius: $pd-28;
  border-bottom-right-radius: $pd-28;
  border-bottom-left-radius: $pd-28;
}

@mixin regular-cta {
  font-size: $pd-18;
  text-decoration: none;
  font-style: normal;
  font-weight: $semi-bold;
  font-family: $english;
  line-height: $pd-24;
}
