@mixin small-size {
  font-size: $pd-14;
  letter-spacing: $pd-050;
  word-spacing: $pd-050;
  padding-top: $pd-8;
  padding-right: $pd-12;
  padding-bottom: $pd-8;
  padding-left: $pd-12;
  border-top-left-radius: $pd-8;
  border-top-right-radius: $pd-8;
  border-bottom-right-radius: $pd-8;
  border-bottom-left-radius: $pd-8;
}

@mixin small-cta {
  font-size: $pd-16;
  text-decoration: none;
  font-style: normal;
  font-weight: $semi-bold;
  font-family: $english;
  line-height: $pd-24;
}
