@import "../../../sass/spaces";
@import "../../../sass/colors";
@import "../../../sass/typography/tokens";

.nav {
 width: 100%;
 display: flex;
 justify-content: center;
 gap: $pd-24;
 padding: $pd-24;
 position: relative;

 .submenu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $pd-24;
  background-color: $negative-white;

  position: absolute;
  top: 70%;
  padding: $pd-48;
  border-radius: $pd-16;
  z-index: 99;
  transform: translateX(-50%);
 }
}

.visible {
 visibility: visible;
}

.hidden {
 visibility: hidden;
}