@import "../../../sass/spaces";
@import "../../../sass/colors";
@import "../../../sass/typography/tokens";

nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $negative-white;
  height: 100vh;
}
