@import "../../../sass/spaces";
@import "../../../sass/colors";
@import "../../../sass/typography/tokens";

@mixin center($custom-width) {
  display: flex;
  align-items: center;
  width: $custom-width;
  justify-content: center;
}

body {
  @include center(100%);
  padding: $pd-96 0;
}

main {
  @include center(100%);
  flex-direction: column;
  section {
    width: 50%;
    border-radius: $pd-48;
  }
  header {
    display: flex;
    align-items: center;
  }
  footer {
    border-top: $pd-2 solid $grey-highlight;
  }
}
